<div class="app-content-body" ng-controller="CodeController" ng-init="init()">
	<div class="wrapper-md">
		<div class="panel panel-default">
			<div class="panel-heading font-bold">
				공통코드 관리
				<button type="submit" class="btn btn-primary pull-right btn-m"
					ui-sref="app.code.insert" href="#!/app/code/write">공통코드 등록</button>
			</div>

			<div class="panel-body">
				<form class="form-horizontal" method="get">
					<div class="form-group b-n">
						<label class="col-sm-1 control-label">그룹코드 명</label>
						<div class="col-sm-2">
							<input type="text" class="form-control input-sm" ng-model="groupName" />
						</div>
						<label class="col-sm-1 col-sm-offset-3 control-label">그룹코드 설명</label>
						<div class="col-sm-2">
							<input type="text" class="form-control input-sm" ng-model="groupDesc" />
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">
				<div class="row">
					<button type="submit" class="btn btn-dark pull-right btn-m"
						ng-click="init()">조회</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="table-responsive teacher_table">
				<table class="table b-t b-light">
					<thead>
						<tr class="active">
							<th>No</th>
							<th>그룹코드</th>
							<th>그룹코드명</th>
							<th>포함코드 수</th>
							<th>등록일</th>							
							<th>상세</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="code in codeGroupList">
							<td>{{ generateListNo(current_page, total_code_list, $index)}}</td>
							<td>{{ code.groupId }}</td>
							<td>{{ code.groupName }}</td>
							<td>{{ code.codeCnt }}</td>							
							<td>{{ code.regDt }}</td>
							<td><a class="primary underline" ui-sref="app.code.view({id: code.groupId})">상세보기</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" ng-if="total_code_list > app.page_size">
			<div class=" text-center">
				<ul class="pagination pagination-sm m-t-none m-b-none">
					<li ng-click="previousPageClick()"><a href=""><i class="fa fa-chevron-left"></i></a></li>
					<li ng-repeat="page in getRange(total_pages) track by $index" 
						class="{{current_page == $index + 1 ? 'active' : ''}}"
						ng-click="setCurrentPage($index + 1)"><a href="">{{$index + 1}}</a></li>
					<li ng-click="nextPageClick()"><a href=""><i class="fa fa-chevron-right"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>