
  	<div class="app-content-body" ng-controller="levelTestListController" ng-init="init()">
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      레벨테스트
    </div>
      
    <div class="panel-body">
      <form class="form-horizontal" method="get">
          <div class="form-group b-n">
          <label class="col-sm-1 control-label">고객사명</label>
          <div class="col-sm-2 no-padder-left">
            <select name="account" class="form-control input-sm" ng-model="selected_customer" ng-options="customer.cpCd as customer.compNm for customer in customers">
              <option value="">전체</option>
            </select>
          </div>
          <label class="col-sm-1 col-sm-offset-1 control-label">담당강사</label>
          <div class="col-sm-2 no-padder-left">
            <select name="account" class="form-control input-sm" ng-model="selected_lecture" ng-options="lecture.tcCd as lecture.userName for lecture in lectures">
              <option value="">전체</option>
              
            </select>
          </div>
        </div>
      </form>
    </div>
      <div class="panel-footer">
          <div class="row">
            <button type="submit" class="btn btn-dark pull-right btn-m" ng-click="search()">조회</button>        
          </div>
      </div>
  </div>
    <div class="panel panel-default">            
    <div class="table-responsive teacher_table">
      <table class="table b-t b-light">
        <thead>
          <tr class="active">
            <th>No</th>
            <th>강사명</th>
            <th>고객사명</th>
            <th>강의명</th>
            <th>강의기간</th>
            <th>수강인원</th>
            <th>응시인원</th>
            <th>평균</th>  
            <th>평가설정</th>
            <th>성적입력</th>  
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lvtest in lvtests">
            <td>{{generateListNo(current_page, total_lvtests, $index)}}</td>
            <td>{{ lvtest.userName}}</td>
            <td>{{ lvtest.compNm}}</td>  
            <td class="text-left"><a class="underline primary" ui-sref="app.lvtest.lvtest_detail({ltCd: lvtest.ltCd})">{{ lvtest.lectureNm }}</a></td>
<!--              <td class="text-left"><a class="underline primary" ng-click="openDetailPopup(lvtest)">{{ lvtest.lectureNm }}</a></td>  -->
            <td>{{ lvtest.startDt }}~{{ lvtest.endDt }}</td>
            <td>{{ lvtest.userCnt }}</td>  
            <td>{{ lvtest.testCnt }}</td>  
            <td>{{ lvtest.avgScore | number:1}}</td>
            <td ng-if="lvtest.lvCd == '' || lvtest.lvCd == null "><a class="primary underline" ng-click="openLevelTestSettingLayerPopup(lvtest)">미등록</a></td>  
            <td ng-if="lvtest.lvCd != '' && lvtest.lvCd != null "><a class="primary underline" ng-click="openLevelTestSettingLayerPopup2(lvtest)">수정</a></td>  
            <td><a class="primary underline" ng-click="openLevelTestResultLayerPopup(lvtest)">수정</a></td>  
          </tr>
        </tbody>
      </table>
    </div>
    </div>
   <div class="row" ng-if="total_lvtests > app.page_size">
			<div class=" text-center">
				<ul class="pagination pagination-sm m-t-none m-b-none">
					<li ng-click="previousPageClick()"><a href=""><i
							class="fa fa-chevron-left"></i></a></li>
					<li ng-repeat="page in getRange(total_pages) track by $index"
						class="{{current_page == $index + 1 ? 'active' : ''}}"
						ng-click="setCurrentPage($index + 1)"><a href="">{{$index
							+ 1}}</a></li>
					<li ng-click="nextPageClick()"><a href=""><i
							class="fa fa-chevron-right"></i></a></li>
				</ul>
			</div>
		</div>
</div>
	</div>

<script type="text/ng-template" id="popup">
  <div class="popup_wrap" ng-init="init_popup()">
      <div class="popup_header">
        레벨테스트 설정하기<span class="pull-right closebtn " data-ng-click="cancel()"><img src="assets/img/close.png" class="img-full" alt="..."></span>
    </div>
    <div class="popup_body no-padder-top">
        <div class="panel-body text-md m-t-md">
      <form class="form-horizontal ng-pristine ng-valid" method="get">
        <div class="form-group b-n">
          <label class="col-sm-4 control-label"><b>고객사명</b> : {{ lvtest.compNm }}</label>
            <label class="col-sm-8 control-label"><b>강의기간</b> : {{ lvtest.startDt}} ~ {{ lvtest.endDt }}</label>
        </div>
        <div class="form-group b-n">
            <label class="col-sm-4 control-label"><b>강사명</b> : {{ lvtest.userName }} </label>
            <label class="col-sm-8 control-label"><b>강의명</b> {{ lvtest.lectureNm }} </label>
        </div>  
      </form>
    </div>
        <div class="row form-horizontal m-b-sm m-t-sm">
          <div class="col-sm-3 no-padder-left">
            <label class="control-label">1. 평가종류</label>
          </div>
          <div class="col-sm-9 no-padder">
          	<select name="testKind" class="form-control input-sm" ng-model="selected_tpcd" >
              	<option value="Business">Business English</option>
				<option value="TOEIC">TOEIC</option>
				<option value="TOEICS">TOEIC Speake</option>
				<option value="OPIC">OPIC</option>
				<option value="HSK">HSK</option>
				<option value="JLPT">JLPT</option>
				<option value="FLEX">FLEX</option>
				<option value="OPI">OPI</option>
				<option value="CILS">CILS</option>              
            </select>
          </div>
        </div>
        <div class="table-responsive">
			<table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'Business'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
						<th colspan="3">입문</th>            			
						<th colspan="3">초급</th>
            			<th colspan="3">중급</th>
            			<th colspan="3">고급</th>						
          			</tr>
					<tr class="active">
						<th>Lv.1</th>
						<th>Lv.2</th>
						<th>Lv.3</th>
						<th>Lv.4</th>
						<th>Lv.5</th>
						<th>Lv.6</th>
						<th>Lv.7</th>
						<th>Lv.8</th>
						<th>Lv.9</th>
						<th>Lv.10</th>
						<th>Lv.11</th>
						<th>Lv.12</th>
					</tr>
					<tr class="active">
						<th>CEFR</th>
						<th>A1</th>
						<th>A1</th>
						<th>A2</th>
						<th>A2</th>
						<th>B1</th>
						<th>B1</th>
						<th>B2</th>
						<th>B2</th>
						<th>C1</th>
						<th>C1</th>
						<th>C2</th>
						<th>C2</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>20~23</th>
						<th>24~26</th>
						<th>27~29</th>
						<th>30~32</th>
						<th>33~35</th>
						<th>36~38</th>
						<th>39~41</th>
						<th>42~44</th>
						<th>45~47</th>
						<th>48~50</th>
						<th>51~53</th>
						<th>54~56</th>
					</tr>
					<tr class="active">
						<th>Speaking</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Listening</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Pronunciation</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Vocabulary</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Grammar</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>
				
      		<table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'TOEIC'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="2">입문</th>
            			<th colspan="2">초급</th>
            			<th colspan="2">중급</th>
            			<th>고급</th>
          			</tr>
					<tr class="active">
						<th>Lv.1</th>
						<th>Lv.2</th>
						<th>Lv.3</th>
						<th>Lv.4</th>
						<th>Lv.5</th>
						<th>Lv.6</th>
						<th>Lv.7</th>
						<th>Lv.8</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>0~295</th>
						<th>300~395</th>
						<th>400~495</th>
						<th>500~595</th>
						<th>600~695</th>
						<th>700~795</th>
						<th>800~895</th>
						<th>900~990</th>
					</tr>
					<tr class="active">
						<th>L/C</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>R/C</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>

      		<table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'TOEICS'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="2">입문</th>
            			<th colspan="2">초급</th>
            			<th colspan="2">중급</th>
            			<th>고급</th>
          			</tr>
					<tr class="active">
						<th>Lv.1</th>
						<th>Lv.2</th>
						<th>Lv.3</th>
						<th>Lv.4</th>
						<th>Lv.5</th>
						<th>Lv.6</th>
						<th>Lv.7</th>
						<th>Lv.8</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>0~30</th>
						<th>40~50</th>
						<th>60~70</th>
						<th>80~100</th>
						<th>110~120</th>
						<th>130~150</th>
						<th>160~180</th>
						<th>190~200</th>
					</tr>
					<tr class="active">
						<th>Pronunciation</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Intonation and Stress</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Grammar</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Vocabulary and Cohesion</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Relevance of content and Completeness of content</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>

      		<table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'OPIC'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="3">입문</th>
            			<th colspan="3">초중급</th>
            			<th>고급</th>
          			</tr>
					<tr class="active">
						<th>1~5</th>
						<th>6~20</th>
						<th>21~40</th>
						<th>41~60</th>
						<th>61~70</th>
						<th>71~80</th>
						<th>81~100</th>
					</tr>
					<tr class="active">
						<th>Level</th>
						<th>NL</th>
						<th>NM</th>
						<th>NH</th>
						<th>IL</th>
						<th>IM</th>
						<th>IH</th>
						<th>AL</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>7급</th>
						<th>6급</th>
						<th>5급</th>
						<th>4급</th>
						<th>3급</th>
						<th>2급</th>
						<th>1급</th>
					</tr>
					<tr class="active">
						<th>Language control</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Function,Global Tasks</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Text Type</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Contents Context</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Comprehensibility</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>

      		<table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'HSK'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="2">초급</th>
            			<th colspan="2">중급</th>
            			<th colspan="2">고급</th>
          			</tr>
					<tr class="active">
						<th>1급</th>
						<th>2급</th>
						<th>3급</th>
						<th>4급</th>
						<th>5급</th>
						<th>6급</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>0~30</th>
						<th>31~50</th>
						<th>51~70</th>
						<th>71~80</th>
						<th>81~90</th>
						<th>91~100</th>
					</tr>
					<tr class="active">
						<th>Listening</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Reading</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Writing</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>

      		<table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'JLPT'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="2">초급</th>
            			<th colspan="2">중급</th>
            			<th>고급</th>
          			</tr>
					<tr class="active">
						<th>N5</th>
						<th>N4</th>
						<th>N3</th>
						<th>N2</th>
						<th>N1</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>0~30</th>
						<th>31~50</th>
						<th>51~70</th>
						<th>71~90</th>
						<th>91~100</th>
					</tr>
					<tr class="active">
						<th>Language Knowledge</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Reading</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Listening</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>

	        <table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'FLEX'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="3">초급</th>
            			<th colspan="3">중급</th>
            			<th colspan="3">고급</th>
          			</tr>
					<tr class="active">
						<th>3C</th>
						<th>3B</th>
						<th>3A</th>
						<th>2C</th>
						<th>2B</th>
						<th>2A</th>
						<th>1C</th>
						<th>1B</th>
						<th>1A</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>325~425</th>
						<th>426~525</th>
						<th>526~625</th>
						<th>626~700</th>
						<th>701~775</th>
						<th>776~850</th>
						<th>851~900</th>
						<th>901~950</th>
						<th>951~1000</th>
					</tr>
					<tr class="active">
						<th>Listening & Reading</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
          			<tr class="active">
            			<th rowspan="2"Level</th>
            			<th colspan="3">초급</th>
            			<th colspan="3">중급</th>
            			<th colspan="3">고급</th>
          			</tr>
					<tr class="active">
						<th>3C</th>
						<th>3B</th>
						<th>3A</th>
						<th>2C</th>
						<th>2B</th>
						<th>2A</th>
						<th>1C</th>
						<th>1B</th>
						<th>1A</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>110~129</th>
						<th>130~149</th>
						<th>150~169</th>
						<th>170~184</th>
						<th>185~199</th>
						<th>200~214</th>
						<th>215~226</th>
						<th>227~238</th>
						<th>239~250</th>
					</tr>
					<tr class="active">
						<th>Writing</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Speaking</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>

	        <table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'OPI'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="2">입문</th>
            			<th colspan="3">초급</th>
            			<th colspan="3">중급</th>
            			<th colspan="2">고급</th>
          			</tr>
					<tr class="active">
						<th>1~4</th>
						<th>5~20</th>
						<th>21~30</th>
						<th>31~40</th>
						<th>41~50</th>
						<th>51~60</th>
						<th>61~70</th>
						<th>71~80</th>
						<th>81~90</th>
						<th>91~100</th>
					</tr>
					<tr class="active">
						<th>Level</th>
						<th>NL</th>
						<th>NM</th>
						<th>NH</th>
						<th>IL</th>
						<th>IM</th>
						<th>IH</th>
						<th>AL</th>
						<th>AM</th>
						<th>AH</th>
						<th>S</th>
					</tr>
					<tr class="active">
						<th>Language control</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Function,Global Tasks</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Text Type</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Contents Context</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Comprehensibility</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>

	        <table class="table table-test center_align m-b-none" ng-if="selected_tpcd == 'CILS'">
        		<thead>
          			<tr class="active">
            			<th rowspan="2">Level</th>
            			<th colspan="2">초급</th>
            			<th colspan="2">중급</th>
            			<th colspan="2">고급</th>
          			</tr>
					<tr class="active">
						<th>Lv.1</th>
						<th>Lv.2</th>
						<th>Lv.3</th>
						<th>Lv.4</th>
						<th>Lv.5</th>
						<th>Lv.6</th>
					</tr>
					<tr class="active">
						<th>Level</th>
						<th>A1</th>
						<th>A2</th>
						<th>B1</th>
						<th>B2</th>
						<th>C1</th>
						<th>C2</th>
					</tr>
					<tr class="active">
						<th>Score</th>
						<th>0~100</th>
						<th>0~100</th>
						<th>0~100</th>
						<th>0~100</th>
						<th>0~100</th>
						<th>0~100</th>
					</tr>
					<tr class="active">
						<th>Speaking</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Listening</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Reading</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Writing</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<th>Grammar</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        		</thead>
      		</table>
		</div>
    <div class="row form-horizontal m-b-sm">
          <div class="col-sm-3 no-padder-left">
            <label class="control-label">2. 평가방법</label>
          </div>
          <div class="col-sm-9 no-padder">
            <div class="radio">
              <label class="i-checks no-padder-left">
                <input type="radio" name="assessment_method" value="0" ng-model="selected_method">
                <i></i>
                오프 응시 및 평가결과 입력
              </label> &nbsp;&nbsp;
                <label class="i-checks">
                <input type="radio" name="assessment_method" value="1" ng-model="selected_method">
                <i></i>
                평가지 다운 및 오프 제출, 입력
               </label>
            </div>
          </div>
        </div>
        <div class="row form-horizontal m-b-sm">
          <div class="col-sm-3 no-padder">
            <label class="control-label">3. 평가일정</label>
          </div>
          <div class="col-sm-9 no-padder">
              
            <div class="col-sm-4 no-padder">
            <div class="input-group input-group-sm m-t-xs date dateStr">
                          <input type="text" class="form-control" ng-model="from_evaluation_schedule" readonly="readonly">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
            </div>
            <label class="control-label col-sm-1 text-center">─</label>
            <div class="col-sm-4 no-padder-left">
            <div class="input-group input-group-sm m-t-xs date dateEnd">
                          <input type="text" class="form-control"  ng-model="to_evaluation_schedule" readonly="readonly">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
            </div>
          
          </div>
        </div>
        <div class="row form-horizontal m-b-sm">
          <div class="col-sm-3 no-padder-left">
            <label class="control-label">4. 성적공개</label>
          </div>
          <div class="col-sm-6 no-padder">
            <div class="radio">
              <label class="i-checks no-padder-left">
                <input type="radio" ng-model="grade_open_type" value="N" ng-click="grade_open_dt=''" >
                <i></i>
                	비공개
              </label>
                <label class="i-checks">
                <input type="radio" ng-model="grade_open_type" value="Y" ng-click="grade_open_dt=''" >
                <i></i>
                	즉시공개
               </label>
                <label class="i-checks">
                <input type="radio" ng-model="grade_open_type" value="S" ng-click="grade_open_dt=''" >
                <i></i>
                	일자지정
               </label>
            </div>
          </div>
            <div class="input-group input-group-sm m-t-xs col-sm-3 date dateOther" ng-model="evaluation_schedule">
                          <input type="text" class="form-control" ng-disabled="grade_open_type!='S'" ng-model="grade_open_dt" name="grade_open_dt" readonly="readonly">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
        </div>
    <div class="text-center m-t-lg">
        <button class="btn btn-dark btn-w m-r-xxs" ng-click="cancelSetting()">취소</button>    
        <button class="btn btn-primary btn-w" ng-click="submitSetting()">완료</button>
          </div>
    </div>  
  </div>
<script type="text/javascript">
	$(function() {
		$(".dateStr, .dateEnd, .dateOther").datepicker({
			format : "yyyy-mm-dd",
			autoclose: true
		});
		$(".date").datepicker('setDate', new Date());
	});
</script>
</script>
<script type="text/ng-template" id="popup2">
  <div class="popup_wrap" ng-init="init_popup()">
      <div class="popup_header">
        레벨테스트 성적 입력하기<span class="pull-right closebtn " data-ng-click="cancel()"><img src="assets/img/close.png" class="img-full" alt="..."></span>
    </div>
    <div class="popup_body no-padder-top">
        <div class="panel-body text-md m-t-md">
      <form class="form-horizontal ng-pristine ng-valid" method="get">
        <div class="form-group b-n">
          <label class="col-sm-4 control-label"><b>고객사명</b> : {{ lvtest.compNm }}</label>
            <label class="col-sm-8 control-label"><b>강의기간</b> : {{ vltest.startDt}} ~ {{ lvtest.endDt }}</label>
        </div>
        <div class="form-group b-n">
            <label class="col-sm-4 control-label"><b>강사명</b> : {{ lvtest.userName }} </label>
            <label class="col-sm-8 control-label"><b>강의명</b> : {{ lvtest.lectureNm }} </label>
        </div>  
      </form>
    </div>
    <div class="m-t-sm">
        <button class="btn {{result.lvCd == '' ? 'btn-borderPrimary' : 'btn-default'}} btn-xs m-xs w-sm2" ng-repeat="result in results" ng-click="setUserResult(result);">
            <i class="glyphicon glyphicon-user gray "></i>&nbsp;&nbsp;{{result.userName}}&nbsp;&nbsp; <span class="gray">{{result.lvCd == '' ? '미등록' : '완료'}}</span>
        </button>
        <!--active button-->
    </div>
    <div class="row form-horizontal m-b-sm">
	    <div class="text-lg" ng-if="selected_user.userName != undefined">
            <label class="control-label"><span class="underline">{{selected_user.userName}}</span>수강생 (레벨테스트 <span class="danger">{{selected_user.avgScore}}</span>점)</label>
        </div>
		<div class="text-lg" ng-if="selected_user.userName == undefined">
			<label class="control-label">※ 수강생을 선택해주세요.</label>
		</div>
    </div>
    <div class="table-responsive" ng-if="selected_user.userName != undefined">
      	<table class="table b b-light popup_table center_align table-bordered m-b-n">
        	<thead>
          		<tr class="active">
            		<th>항목</th>
            		<th>레벨</th>
            		<th class="white">득점</th>  
          		</tr>
        	</thead>
			<tbody ng-if="info.tpCd == 'Business'">
          		<tr>
            		<td><label class="control-label">Speaking</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="Lv1">A1 (20~23)</option>
							<option value="Lv2">A1 (24~26)</option>
							<option value="Lv3">A2 (27~29)</option>
							<option value="Lv4">A2 (30~32)</option>
							<option value="Lv5">B1 (33~35)</option>
							<option value="Lv6">B1 (36~38)</option>							
							<option value="Lv7">B2 (39~41)</option>
							<option value="Lv8">B2 (42~44)</option>
							<option value="Lv9">C1 (45~47)</option>
							<option value="Lv10">C1 (48~50)</option>
							<option value="Lv11">C2 (51~53)</option>
							<option value="Lv12">C2 (54~56)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)"/></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Listening</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="Lv1">A1 (20~23)</option>
							<option value="Lv2">A1 (24~26)</option>
							<option value="Lv3">A2 (27~29)</option>
							<option value="Lv4">A2 (30~32)</option>
							<option value="Lv5">B1 (33~35)</option>
							<option value="Lv6">B1 (36~38)</option>							
							<option value="Lv7">B2 (39~41)</option>
							<option value="Lv8">B2 (42~44)</option>
							<option value="Lv9">C1 (45~47)</option>
							<option value="Lv10">C1 (48~50)</option>
							<option value="Lv11">C2 (51~53)</option>
							<option value="Lv12">C2 (54~56)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Pronunciation</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="Lv1">A1 (20~23)</option>
							<option value="Lv2">A1 (24~26)</option>
							<option value="Lv3">A2 (27~29)</option>
							<option value="Lv4">A2 (30~32)</option>
							<option value="Lv5">B1 (33~35)</option>
							<option value="Lv6">B1 (36~38)</option>							
							<option value="Lv7">B2 (39~41)</option>
							<option value="Lv8">B2 (42~44)</option>
							<option value="Lv9">C1 (45~47)</option>
							<option value="Lv10">C1 (48~50)</option>
							<option value="Lv11">C2 (51~53)</option>
							<option value="Lv12">C2 (54~56)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Vocabulary</label></td> 
            		<td>
						<select ng-model="selected_user.article4Level">
							<option value="Lv1">A1 (20~23)</option>
							<option value="Lv2">A1 (24~26)</option>
							<option value="Lv3">A2 (27~29)</option>
							<option value="Lv4">A2 (30~32)</option>
							<option value="Lv5">B1 (33~35)</option>
							<option value="Lv6">B1 (36~38)</option>							
							<option value="Lv7">B2 (39~41)</option>
							<option value="Lv8">B2 (42~44)</option>
							<option value="Lv9">C1 (45~47)</option>
							<option value="Lv10">C1 (48~50)</option>
							<option value="Lv11">C2 (51~53)</option>
							<option value="Lv12">C2 (54~56)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article4Score" ng-keyup="setAutoSelect(3)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Grammar</label></td> 
            		<td>
						<select ng-model="selected_user.article5Level">
							<option value="Lv1">A1 (20~23)</option>
							<option value="Lv2">A1 (24~26)</option>
							<option value="Lv3">A2 (27~29)</option>
							<option value="Lv4">A2 (30~32)</option>
							<option value="Lv5">B1 (33~35)</option>
							<option value="Lv6">B1 (36~38)</option>							
							<option value="Lv7">B2 (39~41)</option>
							<option value="Lv8">B2 (42~44)</option>
							<option value="Lv9">C1 (45~47)</option>
							<option value="Lv10">C1 (48~50)</option>
							<option value="Lv11">C2 (51~53)</option>
							<option value="Lv12">C2 (54~56)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article5Score" ng-keyup="setAutoSelect(4)" /></td>  
          		</tr>
			</tbody>

        	<tbody ng-if="info.tpCd == 'TOEIC'">
          		<tr>
            		<td><label class="control-label">L/C</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="LV.1">LV.1 (0~295)</option>
							<option value="LV.2">LV.2 (300~395)</option>
							<option value="LV.3">LV.3 (400~495)</option>
							<option value="LV.4">LV.4 (500~595)</option>
							<option value="LV.5">LV.5 (600~695)</option>
							<option value="LV.6">LV.6 (700~795)</option>
							<option value="LV.7">LV.7 (800~895)</option>
							<option value="LV.8">LV.8 (900~990)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">R/C</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="LV.1">LV.1 (0~295)</option>
							<option value="LV.2">LV.2 (300~395)</option>
							<option value="LV.3">LV.3 (400~495)</option>
							<option value="LV.4">LV.4 (500~595)</option>
							<option value="LV.5">LV.5 (600~695)</option>
							<option value="LV.6">LV.6 (700~795)</option>
							<option value="LV.7">LV.7 (800~895)</option>
							<option value="LV.8">LV.8 (900~990)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
			</tbody>
        	<tbody ng-if="info.tpCd == 'TOEICS'">
          		<tr>
            		<td><label class="control-label">Pronunciation</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="LV.1">LV.1 (0~30)</option>
							<option value="LV.2">LV.2 (40~50)</option>
							<option value="LV.3">LV.3 (60~70)</option>
							<option value="LV.4">LV.4 (80~100)</option>
							<option value="LV.5">LV.5 (110~120)</option>
							<option value="LV.6">LV.6 (130~150)</option>
							<option value="LV.7">LV.7 (160~180)</option>
							<option value="LV.8">LV.8 (190~200)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Intonation and Stress</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="LV.1">LV.1 (0~30)</option>
							<option value="LV.2">LV.2 (40~50)</option>
							<option value="LV.3">LV.3 (60~70)</option>
							<option value="LV.4">LV.4 (80~100)</option>
							<option value="LV.5">LV.5 (110~120)</option>
							<option value="LV.6">LV.6 (130~150)</option>
							<option value="LV.7">LV.7 (160~180)</option>
							<option value="LV.8">LV.8 (190~200)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Grammar</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="LV.1">LV.1 (0~30)</option>
							<option value="LV.2">LV.2 (40~50)</option>
							<option value="LV.3">LV.3 (60~70)</option>
							<option value="LV.4">LV.4 (80~100)</option>
							<option value="LV.5">LV.5 (110~120)</option>
							<option value="LV.6">LV.6 (130~150)</option>
							<option value="LV.7">LV.7 (160~180)</option>
							<option value="LV.8">LV.8 (190~200)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Vocabulary and Cohesion</label></td> 
            		<td>
						<select ng-model="selected_user.article4Level">
							<option value="LV.1">LV.1 (0~30)</option>
							<option value="LV.2">LV.2 (40~50)</option>
							<option value="LV.3">LV.3 (60~70)</option>
							<option value="LV.4">LV.4 (80~100)</option>
							<option value="LV.5">LV.5 (110~120)</option>
							<option value="LV.6">LV.6 (130~150)</option>
							<option value="LV.7">LV.7 (160~180)</option>
							<option value="LV.8">LV.8 (190~200)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article4Score" ng-keyup="setAutoSelect(3)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Relevance of content and<br> Completeness of content</label></td> 
            		<td>
						<select ng-model="selected_user.article5Level">
							<option value="LV.1">LV.1 (0~30)</option>
							<option value="LV.2">LV.2 (40~50)</option>
							<option value="LV.3">LV.3 (60~70)</option>
							<option value="LV.4">LV.4 (80~100)</option>
							<option value="LV.5">LV.5 (110~120)</option>
							<option value="LV.6">LV.6 (130~150)</option>
							<option value="LV.7">LV.7 (160~180)</option>
							<option value="LV.8">LV.8 (190~200)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article5Score" ng-keyup="setAutoSelect(4)" /></td>  
          		</tr>
			</tbody>
        	<tbody ng-if="info.tpCd == 'OPIC'">
          		<tr>
            		<td><label class="control-label">Language control</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="NL">NL (1~5)</option>
							<option value="NM">NM (6~20)</option>
							<option value="NH">NH (21~40)</option>
							<option value="IL">IL (41~60)</option>
							<option value="IM">IM (61~70)</option>
							<option value="IH">IH (71~80)</option>
							<option value="AL">AL (81~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Function,Global Tasks</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="NL">NL (1~5)</option>
							<option value="NM">NM (6~20)</option>
							<option value="NH">NH (21~40)</option>
							<option value="IL">IL (41~60)</option>
							<option value="IM">IM (61~70)</option>
							<option value="IH">IH (71~80)</option>
							<option value="AL">AL (81~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Text Type</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="NL">NL (1~5)</option>
							<option value="NM">NM (6~20)</option>
							<option value="NH">NH (21~40)</option>
							<option value="IL">IL (41~60)</option>
							<option value="IM">IM (61~70)</option>
							<option value="IH">IH (71~80)</option>
							<option value="AL">AL (81~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Contents Context</label></td> 
            		<td>
						<select ng-model="selected_user.article4Level">
							<option value="NL">NL (1~5)</option>
							<option value="NM">NM (6~20)</option>
							<option value="NH">NH (21~40)</option>
							<option value="IL">IL (41~60)</option>
							<option value="IM">IM (61~70)</option>
							<option value="IH">IH (71~80)</option>
							<option value="AL">AL (81~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article4Score" ng-keyup="setAutoSelect(3)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Comprehensibility</label></td> 
            		<td>
						<select ng-model="selected_user.article5Level">
							<option value="NL">NL (1~5)</option>
							<option value="NM">NM (6~20)</option>
							<option value="NH">NH (21~40)</option>
							<option value="IL">IL (41~60)</option>
							<option value="IM">IM (61~70)</option>
							<option value="IH">IH (71~80)</option>
							<option value="AL">AL (81~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article5Score" ng-keyup="setAutoSelect(4)" /></td>  
          		</tr>
			</tbody>
        	<tbody ng-if="info.tpCd == 'HSK'">
          		<tr>
            		<td><label class="control-label">Listening</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="1급">1급 (0~30)</option>
							<option value="2급">2급 (31~50)</option>
							<option value="3급">3급 (51~70)</option>
							<option value="4급">4급 (71~80)</option>
							<option value="5급">5급 (81~90)</option>
							<option value="6급">6급 (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Reading</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="1급">1급 (0~30)</option>
							<option value="2급">2급 (31~50)</option>
							<option value="3급">3급 (51~70)</option>
							<option value="4급">4급 (71~80)</option>
							<option value="5급">5급 (81~90)</option>
							<option value="6급">6급 (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Writing</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="1급">1급 (0~30)</option>
							<option value="2급">2급 (31~50)</option>
							<option value="3급">3급 (51~70)</option>
							<option value="4급">4급 (71~80)</option>
							<option value="5급">5급 (81~90)</option>
							<option value="6급">6급 (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
			</tbody>
        	<tbody ng-if="info.tpCd == 'JLPT'">
          		<tr>
            		<td><label class="control-label">Language Knowledge</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="N5">N5 (0~30)</option>
							<option value="N4">N4 (31~50)</option>
							<option value="N3">N3 (51~70)</option>
							<option value="N2">N2 (71~90)</option>
							<option value="N1">N1 (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Reading</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="N5">N5 (0~30)</option>
							<option value="N4">N4 (31~50)</option>
							<option value="N3">N3 (51~70)</option>
							<option value="N2">N2 (71~90)</option>
							<option value="N1">N1 (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Listening</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="N5">N5 (0~30)</option>
							<option value="N4">N4 (31~50)</option>
							<option value="N3">N3 (51~70)</option>
							<option value="N2">N2 (71~90)</option>
							<option value="N1">N1 (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
			</tbody>
        	<tbody ng-if="info.tpCd == 'FLEX'">
          		<tr>
            		<td><label class="control-label">Listening & Reading</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="3C">3C (325~425)</option>
							<option value="3B">3B (426~525)</option>
							<option value="3A">3A (526~625)</option>
							<option value="2C">2C (626~700)</option>
							<option value="2B">2B (701~775)</option>
							<option value="2A">2A (776~850)</option>
							<option value="1C">1C (851~900)</option>
							<option value="1B">1B (901~950)</option>
							<option value="1A">1A (951~1000)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Writing</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="3C">3C (110~129)</option>
							<option value="3B">3B (130~149)</option>
							<option value="3A">3A (150~169)</option>
							<option value="2C">2C (170~184)</option>
							<option value="2B">2B (185~199)</option>
							<option value="2A">2A (200~214)</option>
							<option value="1C">1C (215~226)</option>
							<option value="1B">1B (227~238)</option>
							<option value="1A">1A (239~250)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Speaking</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="3C">3C (110~129)</option>
							<option value="3B">3B (130~149)</option>
							<option value="3A">3A (150~169)</option>
							<option value="2C">2C (170~184)</option>
							<option value="2B">2B (185~199)</option>
							<option value="2A">2A (200~214)</option>
							<option value="1C">1C (215~226)</option>
							<option value="1B">1B (227~238)</option>
							<option value="1A">1A (239~250)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
			</tbody>
        	<tbody ng-if="info.tpCd == 'OPI'">
          		<tr>
            		<td><label class="control-label">Language control</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="NL">NL (1~4)</option>
							<option value="NM">NM (5~20)</option>
							<option value="NH">NH (21~30)</option>
							<option value="IL">IL (31~40)</option>
							<option value="IM">IM (41~50)</option>
							<option value="IH">IH (51~60)</option>
							<option value="AL">AL (61~70)</option>
							<option value="AM">AM (71~80)</option>
							<option value="AH">AH (81~90)</option>
							<option value="S">S (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Function,Global Tasks</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="NL">NL (1~4)</option>
							<option value="NM">NM (5~20)</option>
							<option value="NH">NH (21~30)</option>
							<option value="IL">IL (31~40)</option>
							<option value="IM">IM (41~50)</option>
							<option value="IH">IH (51~60)</option>
							<option value="AL">AL (61~70)</option>
							<option value="AM">AM (71~80)</option>
							<option value="AH">AH (81~90)</option>
							<option value="S">S (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Text Type</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="NL">NL (1~4)</option>
							<option value="NM">NM (5~20)</option>
							<option value="NH">NH (21~30)</option>
							<option value="IL">IL (31~40)</option>
							<option value="IM">IM (41~50)</option>
							<option value="IH">IH (51~60)</option>
							<option value="AL">AL (61~70)</option>
							<option value="AM">AM (71~80)</option>
							<option value="AH">AH (81~90)</option>
							<option value="S">S (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Contents Context</label></td> 
            		<td>
						<select ng-model="selected_user.article4Level">
							<option value="NL">NL (1~4)</option>
							<option value="NM">NM (5~20)</option>
							<option value="NH">NH (21~30)</option>
							<option value="IL">IL (31~40)</option>
							<option value="IM">IM (41~50)</option>
							<option value="IH">IH (51~60)</option>
							<option value="AL">AL (61~70)</option>
							<option value="AM">AM (71~80)</option>
							<option value="AH">AH (81~90)</option>
							<option value="S">S (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article4Score" ng-keyup="setAutoSelect(3)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Comprehensibility</label></td> 
            		<td>
						<select ng-model="selected_user.article5Level">
							<option value="NL">NL (1~4)</option>
							<option value="NM">NM (5~20)</option>
							<option value="NH">NH (21~30)</option>
							<option value="IL">IL (31~40)</option>
							<option value="IM">IM (41~50)</option>
							<option value="IH">IH (51~60)</option>
							<option value="AL">AL (61~70)</option>
							<option value="AM">AM (71~80)</option>
							<option value="AH">AH (81~90)</option>
							<option value="S">S (91~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article5Score" ng-keyup="setAutoSelect(4)" /></td>  
          		</tr>
			</tbody>
        	<tbody ng-if="info.tpCd == 'CILS'">
          		<tr>
            		<td><label class="control-label">Speaking</label></td> 
            		<td>
						<select ng-model="selected_user.article1Level">
							<option value="A1">A1 (0~100)</option>
							<option value="A2">A2 (0~100)</option>
							<option value="B1">B1 (0~100)</option>
							<option value="B2">B2 (0~100)</option>
							<option value="C1">C1 (0~100)</option>
							<option value="C2">C2 (0~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article1Score" ng-keyup="setAutoSelect(0)" /></td>  
          		</tr>    
          		<tr>
            		<td><label class="control-label">Listening</label></td> 
            		<td>
						<select ng-model="selected_user.article2Level">
							<option value="A1">A1 (0~100)</option>
							<option value="A2">A2 (0~100)</option>
							<option value="B1">B1 (0~100)</option>
							<option value="B2">B2 (0~100)</option>
							<option value="C1">C1 (0~100)</option>
							<option value="C2">C2 (0~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article2Score" ng-keyup="setAutoSelect(1)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Reading</label></td> 
            		<td>
						<select ng-model="selected_user.article3Level">
							<option value="A1">A1 (0~100)</option>
							<option value="A2">A2 (0~100)</option>
							<option value="B1">B1 (0~100)</option>
							<option value="B2">B2 (0~100)</option>
							<option value="C1">C1 (0~100)</option>
							<option value="C2">C2 (0~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article3Score" ng-keyup="setAutoSelect(2)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Writing</label></td> 
            		<td>
						<select ng-model="selected_user.article4Level">
							<option value="A1">A1 (0~100)</option>
							<option value="A2">A2 (0~100)</option>
							<option value="B1">B1 (0~100)</option>
							<option value="B2">B2 (0~100)</option>
							<option value="C1">C1 (0~100)</option>
							<option value="C2">C2 (0~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article4Score" ng-keyup="setAutoSelect(3)" /></td>  
          		</tr>
          		<tr>
            		<td><label class="control-label">Grammar</label></td> 
            		<td>
						<select ng-model="selected_user.article5Level">
							<option value="A1">A1 (0~100)</option>
							<option value="A2">A2 (0~100)</option>
							<option value="B1">B1 (0~100)</option>
							<option value="B2">B2 (0~100)</option>
							<option value="C1">C1 (0~100)</option>
							<option value="C2">C2 (0~100)</option>
						</select>
					</td> 
            		<td><input type="text" ng-model="selected_user.article5Score" ng-keyup="setAutoSelect(4)" /></td>  
          		</tr>
			</tbody>
			<tbody>    
          		<tr class="active">
            		<td colspan="2">총점 <span class="danger">{{selected_user.totalScore}}</span>점</td>
            		<td >평균 <span class="danger">{{selected_user.avgScore}}</span>점</td>  
          		</tr>
          		<tr ng-if="info.tpCd != 'Business'">
            		<td colspan="3" class="heightfix-md">
                		<textarea placeholder="comment" ng-model="selected_user.cnts">{{selected_user.cnts}}</textarea>
            		</td> 
          		</tr>
				<tr ng-if="info.tpCd == 'Business'">
            		<td class="heightfix-md">
                		<textarea placeholder="Comments" ng-model="selected_user.cnts">{{selected_user.cnts}}</textarea>
            		</td>
					<td class="heightfix-md">
                		<textarea placeholder="Weak Points" ng-model="selected_user.weakPoints">{{selected_user.weakPoints}}</textarea>
            		</td>
					<td class="heightfix-md">
                		<textarea placeholder="Action Plan" ng-model="selected_user.actionPlan">{{selected_user.actionPlan}}</textarea>
            		</td>
          		</tr>    
        	</tbody>
      	</table>
    </div>        
    <div class="text-center m-t-lg">
        <button class="btn btn-primary btn-w" ng-click="saveScore()">등록</button>
          </div>
    </div>  
  </div>
</script>

