<div class="app-content-body " ng-controller="BookListController" ng-init="init()">
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">
        교재마스터
        <button type="submit" class="btn btn-primary pull-right btn-m" ui-sref="app.book.book_insert">
          교재 신규등록
        </button>
      </div>

      <div class="panel-body">
        <form class="form-horizontal" method="get">
          <div class="form-group b-n">
            <label class="col-sm-1 control-label">과목</label>
            <div class="col-sm-2">
              <select name="account" class="form-control input-sm" 
                ng-model="subject"
                ng-options="subject.sjCd as subject.titleCdnm for subject in subjects">
                  <option value=""> 전체</option>
              </select>
            </div>
            <label class="col-sm-1 col-sm-offset-3 control-label">교재명</label>
            <div class="col-sm-2">
              <input class="form-control input-sm" type="text" ng-model="subject_name" maxlength="100"/>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <div class="row">
          <button type="submit" class="btn btn-dark pull-right btn-m" ng-click="getListData()">
            조회
          </button>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="table-responsive teacher_table">
        <table class="table b-t b-light">
          <thead>
            <tr class="active">
              <th>No</th>
              <th>교재코드</th>
              <th>과목</th>
              <th>교재명</th>
              <th>출판사</th>
              <th>저자</th>
              <th>연결강의수</th>
              <th>교재비</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in list_books track by $index">
              <td>{{total_books - $index - app.page_size * (current_page -1)}}</td>
              <td>{{x.bkCd}}</td>
              <td>{{x.sjCdNm}}</td>
              <td>
                <a class="primary underline" ui-sref="app.book.book_detail({id: x.bkCd})">
                    {{x.bookName}}
                </a>
              </td>
              <td>{{x.publisher}}</td>
              <td>{{x.author}}</td>
              <td>{{x.lectureCnt}}</td>
              <td>{{x.bookMoney}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row" ng-if="total_books > app.page_size">
      <div class=" text-center">
      	<ul class="pagination pagination-sm m-t-none m-b-none">
          <li ng-click="previousPageClick()">
            <a href=""><i class="fa fa-chevron-left"></i></a>
          </li>
          <li ng-repeat="page in getRange(total_pages) track by $index" 
          	class="{{current_page == $index + 1 ? 'active' : ''}}"
          ng-click="setCurrentPage($index + 1)"><a href="">{{$index + 1}}</a></li>
          <li ng-click="nextPageClick()">
            <a href=""><i class="fa fa-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>