 <!-- content -->
  	<div class="app-content-body " ng-controller="TeacherDetailCtrl" ng-init="init()">
<div class="wrapper-md">
  <div class="panel panel-default panel-devide">
    <div class="panel-heading font-bold">
      강사관리 
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="get">
        <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label"><span class="dot">*</span> 이름</label></div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.userName}}/{{teacher.nickName}}</label>
          </div>
            <div class="col-bg col-sm-2 col-sm-offset-3"><label class=" control-label">
                <span class="dot">*</span> 국적</label></div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.nationalTypenm}}</label>
          </div>
        </div>
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label"><span class="dot">*</span>
              생년월일</label></div>
          <div class="col-sm-2 no-padder-right">
            <label class="control-label">{{teacher.birthday_year}}년 {{teacher.birthday_month}}월 {{teacher.birthday_day}}일</label>
          </div>
               <div class="col-bg col-sm-2 col-sm-offset-3"><label class=" control-label">
                   <span class="dot">*</span> 성별</label></div>
          <div class="col-sm-2">
                <label class="control-label">{{teacher.genderNm}}</label>       
          </div>
        </div>
        <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label">
              <span class="dot">*</span> 휴대폰번호</label></div>
          <div class="col-sm-2">
           <label class="control-label">{{teacher.mobile}}</label>
          </div>
          <div class="col-sm-2 no-padder">
            <div class="input-group input-group-sm m-t-xs">
                  <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-envelope"></i></button>
                  </span>
                </div>     
         </div>
         <div class="col-bg col-sm-2 col-sm-offset-1">
				<label class=" control-label"> 신분증 사본</label>
		</div>
		<div class="col-sm-3">
			<div class="uploader_wrap">
          	  <label class="uploader control-label m-l-none" ng-if="down_files['idcard'].fileName != ''">
          	  	<a href="{{down_files['idcard'].pathUrl}}/{{down_files['idcard'].fileName}}" target="_blank" style="max-width:135px;">{{down_files['idcard'].originalName}}</a>
              </label>
			</div>
		</div>
        </div>
        <div class="form-group">
          <div class="col-bg col-sm-2">
          	<label class="control-label label-indent">
          		<span class="dot">*</span> 주민번호<br>&nbsp;(외국인등록번호)
			</label>
		  </div>
          <div class="col-sm-6">
          	<label class="control-label" ng-if="teacher.juminNum != null && teacher.juminNum != ''">{{teacher.juminNum.split('-')[0]}}-*******</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-bg col-sm-2"><label class="control-label label-indent">주소</label></div>
          <div class="col-sm-6">
          <label class="control-label">{{teacher.postNo}} {{teacher.addr}} <br>
 {{teacher.dtlAddr}}</label>
          </div>        
        </div>
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label"><span class="dot">*</span> 이메일</label></div>
          <div class="col-sm-2 ">
            <label class="control-label">{{teacher.email_user_name}}@{{teacher.email_domain}}</label>
          </div>
        </div>
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label"><span class="dot">*</span> 아이디</label></div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.userId}}</label>
          </div>
            <div class="col-bg col-sm-2 col-sm-offset-3"><label class=" control-label">
                <span class="dot">*</span> 비밀번호</label></div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-2 no-padder">
              <button class="btn btn-sm btn-info m-t-xs" ng-click="sendNewPassword()">임시비밀번호발송</button>
          </div>      
        </div>
          <div class="form-group">
            <div class="col-bg col-sm-2"><label class=" control-label">
                <span class="dot">*</span> 담당과목</label></div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.subjectCdnm}}</label>
          </div>
              <div class="col-bg col-sm-2 col-sm-offset-3"><label class="control-label label-indent">
                담당자</label></div>
              <div class="col-sm-2">
            <label class="control-label">{{teacher.sliId}}</label>
          </div>
        </div>
        <div class="form-group">
          	<div class="col-bg col-sm-2"><label class=" control-label label-indent">강의지역</label></div>
          	<div class="col-sm-6">
            	<label class="control-label">{{teacher.lectureAreaNm}}</label>      
        	</div>
        	<div class="col-sm-10 col-sm-offset-2 no-padder" ng-if="subArea.subAreaYn == 'Y'">
				<div class="col-sm-10">
					(
					<label class="control-label m-l-none" ng-repeat="obj in gugun_target_list">
	                  {{obj.gugunNm}}
	                </label>
	                &nbsp;
	                )
				</div>
			</div>
        </div>
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label label-indent">강사경력</label></div>
          <div class="col-sm-4">
            <label class="control-label">{{teacher.career}}</label>
          </div>
        </div>
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label label-indent">강사사진</label></div>
          <div class="col-sm-4">
          	  <label class="uploader control-label m-l-none" ng-if="down_files['photo'].fileName != ''">
          	  	<a href="{{down_files['photo'].pathUrl}}/{{down_files['photo'].fileName}}" target="_blank" style="max-width:135px;">{{down_files['photo'].originalName}}</a>
              </label>
          </div>
          <div class="col-bg col-sm-2 col-sm-offset-1"><label class=" control-label label-indent">이력서원본</label></div>
          <div class="col-sm-3">
          	  <label class="uploader control-label m-l-none" ng-if="down_files['resume'].fileName != ''">
          	  	<a href="{{down_files['resume'].pathUrl}}/{{down_files['resume'].fileName}}" target="_blank" style="max-width:135px;">{{down_files['resume'].originalName}}</a>
              </label>
          </div>      
        </div>
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label label-indent">비자정보</label></div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.visa}}</label>
          </div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.visaExpireDt == '0000-00-00' ? '' : teacher.visaExpireDt}}</label>
          </div>      
        </div>
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label label-indent">계약관리</label>
          </div>    
						<div class="col-sm-3">
							<div class="col-sm-9 uploader_wrap">
								<button class="btn btn-sm btn-info m-t-xs" ng-click="saveContractLayerPopup()">
									신규계약등록
								</button>
								<button class="btn btn-sm btn-info m-t-xs" ng-click="contractLayerPopup()">
									계약이력확인
								</button>
							</div>
						</div>
        </div>
        <div class="form-group">
            <div class="col-bg col-sm-2"><label class="control-label label-indent">
                  강사평가</label></div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.score}}</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label label-indent">계좌관리</label>
          </div>
          <div class="col-sm-2">
            <label class="control-label">{{teacher.bankCdnm}}</label>
          </div>    
            <div class="col-sm-3 no-padder-left">
            <label class="control-label">{{teacher.bankAccount}}</label>
          </div>
          <div class="col-sm-2">
              <label class="col-sm-4 control-label">{{teacher.bankHolder}}</label>
              <div class="col-sm-8 ">
            <label class="control-label">
          	  <label class="uploader control-label m-l-none" ng-if="down_files['bankbook'].fileName != ''">
          	  	<a href="{{down_files['idcard'].pathUrl}}/{{down_files['bankbook'].fileName}}" target="_blank" style="max-width:135px;">{{down_files['bankbook'].originalName}}</a>
              </label>
			</label>
          </div>
          </div>   
        </div>  
          <div class="form-group">
          <div class="col-bg col-sm-2"><label class=" control-label label-indent">메모</label></div>
          <div class="col-sm-4">
            <label class="control-label">{{teacher.cnts}}</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  
<div class="panel panel-default panel-devide">
	<div class="panel-heading font-bold">강사 선발 심사</div>
	<div class="panel panel-default">
 			<table class="table table-bordered b-t b-light v_table">
       		<thead>
	          	<tr class="active">            
		            <th class="v-middle w-xs">구분</th>
		            <th class="v-middle w-xxs">세부 구분</th>  
		            <th class="v-middle w-xs">심사 항목</th>
		            <th class="v-middle w-xs">배점 구분</th>
		            <th class="v-middle w-xxs">배점</th>
	          	</tr>
       		</thead>
       		<tbody>
       			
       			<tr>
       				<td rowspan="5">
       					서류 심사<br>기준<br>(총 70점)
       				</td>
       				<td rowspan="3">
       					전문 역량<br>(총 30점)
       				</td>
       				<td>
       					해당 어학 관련<br>학위 소유 여부<br>(총 20점)
					</td>
       				<td>{{teacherJudge.article1Nm}}</td>
       				<td>{{teacherJudge.article1}}</td>
       			</tr>	        			
       			<tr>
       				<td>
       					해당 어학 관련<br>자격증 보유 여부<br>(총 10점)
					</td>
       				<td>{{teacherJudge.article2Nm}}</td>
       				<td>{{teacherJudge.article2}}</td>
       			</tr>	        			
       			<tr>
       				<td>
       					교재 개발<br>관련 이력 여부<br>(가산점 총 5점)				
					</td>
       				<td>{{teacherJudge.article3Nm}}</td>
       				<td>{{teacherJudge.article3}}</td>
       			</tr>
       			<tr>
       				<td rowspan="2">
       					강의 경력<br>(총 40점)
       				</td>
       				<td>
       					강의 경력<br>(총 20점)
					</td>
       				<td>{{teacherJudge.article4Nm}}</td>
       				<td>{{teacherJudge.article4}}</td>
       			</tr>
       			<tr>
       				<td>
       					기업체 강의 이력<br>(총 20점)
					</td>
       				<td>{{teacherJudge.article5Nm}}</td>
       				<td>{{teacherJudge.article5}}</td>
       			</tr>
       			
       			<tr>
       				<td rowspan="9">
						면접 심사<br>기준<br>(총 30점)
					</td>
       				<td colspan="2" rowspan="3">
       					지도 역량<br>(총 10점)
       				</td>
       				<td>{{teacherJudge.article6Nm}}</td>
       				<td>{{teacherJudge.article6}}</td>
       			</tr>
       			<tr>        				
       				<td>{{teacherJudge.article7Nm}}</td>
       				<td>{{teacherJudge.article7}}</td>
       			</tr>
       			<tr>        				
       				<td>{{teacherJudge.article8Nm}}</td>
       				<td>{{teacherJudge.article8}}</td>
       			</tr>
       			
       			<tr>
       				<td colspan="2" rowspan="6">
       					태도 및 적합성<br>(총 20점)
       				</td>
       				<td>{{teacherJudge.article9Nm}}</td>
       				<td>{{teacherJudge.article9}}</td>
       			</tr>
       			<tr>
       				<td>{{teacherJudge.article10Nm}}</td>
       				<td>{{teacherJudge.article10}}</td>
       			</tr>
       			<tr>
       				<td>{{teacherJudge.article11Nm}}</td>
       				<td>{{teacherJudge.article11}}</td>
       			</tr>
       			<tr>
       				<td>{{teacherJudge.article12Nm}}</td>
       				<td>{{teacherJudge.article12}}</td>
       			</tr>
       			<tr>
       				<td>{{teacherJudge.article13Nm}}</td>
       				<td>{{teacherJudge.article13}}</td>
       			</tr>
       			<tr>
       				<td>{{teacherJudge.article14Nm}}</td>
       				<td>{{teacherJudge.article14}}</td>
       			</tr>
       			<tr>
       				<td colspan="4"></td>
       				<td>총점 : {{article_total}}</td>
       			</tr>
       		</tbody>
     	</table>
   	</div>
</div>

		
        <div class="text-center m-t-lg">
        	<button class="btn btn-danger btn-w" ng-click="deleteTeacher()">삭제</button>&nbsp;
            <button class="btn btn-dark btn-w" ui-sref="app.teacher.list">목록</button>&nbsp;
            <button class="btn btn-primary btn-w" ui-sref="app.teacher.modify({id: teacher.tcCd})">수정</button>
          </div>
</div>


	</div>
	
<script type="text/ng-template" id="popup">
	<div class="popup_wrap" ng-init="init()">
    	<div class="popup_header">계약이력<span class="pull-right closebtn " data-ng-click="cancel()"><img src="assets/img/close.png" class="img-full" alt="..."></span></div>
    	<div class="popup_body no-padder-top">
        	<div class="panel-body text-md m-t-md">
				<div class="table-responsive teacher_table">
        			<table class="table b-t b-light" style="width:800px">
						<colgroup>
							<col style="width:50px" />
							<col style="width:120px" />
							<col style="width:120px" />
							<col />
							<col style="width:100px" />
							<col style="width:100px" />
						</colgroup>
          				<thead>
            				<tr class="active">
              					<th>No</th>
              					<th>계약시작일</th>
              					<th>계약종료일</th>
              					<th>계약서</th>
              					<th>수정</th>
              					<th>삭제</th>
			            	</tr>
          				</thead>
          				<tbody ng-if="totalCnt != 0">
            				<tr ng-repeat="list in contractList">
            					<td>{{generateListNo(current_page, contractList.length, $index) }}</td>
                				<td>{{list.contractStartDt}}</td>
                				<td>{{list.contractEndDt}}</td>
                				<td>
									<a href="{{list.pathUrl}}/{{list.fileName}}" target="_blank">{{list.originalName}}</a>
								</td>
                				<td>
									<button ng-click="updateContractLayerPopup(list);">수정</button>
								</td>
                				<td>
									<button ng-click="deleteContract(list);">삭제</button>
								</td>
		            		</tr>
          				</tbody>
						<tbody ng-if="totalCnt == 0">
							<tr>
								<td colspan="6">등록된 계약서가 없습니다.</td>
							</tr>
						</tbody>
        			</table>
      			</div>
    		</div>

    		<div class="text-center m-t-lg">
        		<button class="btn btn-dark btn-w m-r-xxs" ng-click="cancel()">닫기</button>    
        	</div>
    	</div>  
  	</div>
</script>	
<script type="text/ng-template" id="popup2">
  	<div class="popup_wrap" ng-init="init_popup()" ng-init="init();">
    	<div class="popup_header">계약등록<span class="pull-right closebtn " data-ng-click="cancel()"><img src="assets/img/close.png" class="img-full" alt="..."></span></div>
    	<div class="popup_body no-padder-top">
        	<div class="panel-body text-md m-t-md">
      			<form class="form-horizontal ng-pristine ng-valid" method="get">
        			<div class="form-group b-n">
          				<label class="col-sm-3">계약기간</label>
						<label class="col-sm-4">
							<div class="input-group input-group-sm m-t-xs date col-sm-12" style="float:left">
								<input type="text" class="form-control" value="" ng-model="contract.contractStartDt" placeholder="계약시작일" readonly>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</label>
						<label class="col-sm-4">
							<div class="input-group input-group-sm m-t-xs date col-sm-12" style="float:left; margin-left:20px;">
								<input type="text" class="form-control" value="" ng-model="contract.contractEndDt" placeholder="계약종료일" readonly>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
							<div style="clear:both"></div>
						</label>
            			<label class="col-sm-3 control-label">계약서등록</label>
						<div class="col-sm-8"> 
							<label class="btn btn-sm btn-info m-t-xs" ng-if="!contract.file">
								파일첨부
								<input type="file" select-ng-files ng-model="contract.file" ng-change="fileUpload()" style="opacity: 0; position: absolute; left: 0; width: 100px;height: 32px; top: 5px" />
							</label>
							<div class="uploader" ng-if="contract.file" ng-repeat="file in contract.file">
	                			{{ file.name }}
	                			<button type="button" id="file" class="btn btn-xs btn-default" ng-click="contract.file = null;">
	                  				<i class="fa fa-times primary"></i>
	                			</button>
                			</div>
						</div>
        			</div>
      			</form>
    		</div>

    		<div class="text-center m-t-lg">
        		<button class="btn btn-dark btn-w m-r-xxs" ng-click="cancel()">취소</button>    
        		<button class="btn btn-primary btn-w" ng-click="save()">저장</button>    
    		</div>
    	</div>  
  	</div>
<script type="text/javascript">
	$(function() {
		$(".date").datepicker({
			format : "yyyy-mm-dd",
			autoclose: true
		});
		$(".date").datepicker('setDate', new Date());
	});
</script>
</script>	

<script type="text/ng-template" id="popup3">
  	<div class="popup_wrap" ng-init="init();">
    	<div class="popup_header">계약수정<span class="pull-right closebtn " data-ng-click="cancel()"><img src="assets/img/close.png" class="img-full" alt="..."></span></div>
    	<div class="popup_body no-padder-top">
        	<div class="panel-body text-md m-t-md">
      			<form class="form-horizontal ng-pristine ng-valid" method="get">
        			<div class="form-group b-n">
          				<label class="col-sm-3">계약기간</label>
						<label class="col-sm-4">
							<div class="input-group input-group-sm m-t-xs date dateStr col-sm-12" style="float:left">
								<input type="text" class="form-control" value="" name="contractStartDt" ng-model="contract.contractStartDt" placeholder="계약시작일" readonly>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</label>
						<label class="col-sm-4">
							<div class="input-group input-group-sm m-t-xs date dateEnd col-sm-12" style="float:left; margin-left:20px;">
								<input type="text" class="form-control" value="" name="contractEndDt" ng-model="contract.contractEndDt" placeholder="계약종료일" readonly>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
							<div style="clear:both"></div>
						</label>
            			<label class="col-sm-3 control-label">계약서등록</label>
							<div class="col-sm-8"> 
								<label class="btn btn-sm btn-info m-t-xs" ng-if="!contract.file && down_files.fileName == ''">
									파일첨부
									<input type="file" select-ng-files ng-model="contract.file" ng-change="fileUpload()" style="opacity: 0; position: absolute; left: 0; width: 100px;height: 32px; top: 5px" />
								</label>
								<div class="uploader" ng-if="contract.file" ng-repeat="file in contract.file">
	                				{{ file.name }}
	                				<button type="button" id="file" class="btn btn-xs btn-default" ng-click="contract.file = null;">
	                  					<i class="fa fa-times primary"></i>
	                				</button>
                				</div>
								<div class="uploader" ng-if="down_files.fileName != ''">
              						<a href="{{down_files.pathUrl}}/{{down_files.fileName}}" target="_blank">{{ down_files.originalName }}</a>
                					<button type="button" id="file" class="btn btn-xs btn-default" ng-click="clearDownloadFile();">
                  						<i class="fa fa-times primary"></i>
                					</button>
              					</div>
							</div>
						</label>
        			</div>
      			</form>
    		</div>

    		<div class="text-center m-t-lg">
        		<button class="btn btn-dark btn-w m-r-xxs" ng-click="cancel()">취소</button>    
        		<button class="btn btn-primary btn-w" ng-click="save()">저장</button>    
    		</div>
    	</div>  
  	</div>
<script type="text/javascript">
	$(function() {
		$(".dateStr, .dateEnd").datepicker({
			format : "yyyy-mm-dd",
			autoclose: true
		});		
	});
</script>
</script>	
  <!-- /content -->