<div class="app-content-body" ng-controller="IndexController" ng-init="init()">
	<div class="wrapper-md">
		<div class="pc-text-center padder pc-padder">
			<span ng-class="typeList=='A' ? 'primary' : ''" class="primary text-md padder-sm pointer"
				ng-click="typeList='A';getMyLectureList(typeList);" data-langNum="7">진행중 강의</span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span ng-class="typeList=='B' ? 'primary' : ''" class="text-md pointer"
				ng-click="typeList='B';;getMyLectureList(typeList);" data-langNum="8">종료된 강의</span>
				<span class="pull-right text-sm hidden-md hidden-lg">최근 1년 강의만
				조회됩니다.</span>
		</div>
		<div ng-if="typeList=='A'" class="widthfix-lg m-auto m-t">
			<!---강의 컨텐츠 start---->
			<div class="col-xs-12 col-sm-4 no-padder" ng-repeat="my_lecture in my_lecture_List_A">
				<div class="wrapper-xs">
					<div class="panel panel-default border m-b-none">
						<div class="panel-heading font-bold rightAR text-left"	ui-sref="app.mylecture.lecture({ltCd : my_lecture.ltCd})">{{my_lecture.lectureNm}}</div>
						<div class="panel-body">
							<div class=" b-n">
								<table class="table mini-table m-b-none">
									<tbody>
										<tr>
											<td class="w-sm2"><span data-langNum="13">강의코드</span></td>
											<td>{{my_lecture.ltCd}}</td>
										</tr>
										<tr>
											<td><span data-langNum="14">고객사명</span></td>
											<td>{{my_lecture.compNm}}</td>
										</tr>
										<tr>
											<td><span data-langNum="15">강의일시</span></td>
											<td>{{my_lecture.nextClass}}</td>
										</tr>
										<tr>
											<td><span data-langNum="16">강의장소</span></td>
											<td>{{my_lecture.lecturePlaceNm}} </td>
										</tr>
										<tr>
											<td>
											</td>
											<td>
												{{my_lecture.postNo}} {{my_lecture.addr}} {{my_lecture.dtlAddr}} <br>
												<span class="m-l-xs" ng-click="showMap(my_lecture)"><img width="62"	src="./assets/img/map_ico.jpg"></span>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="col-sm-8" id="map_{{my_lecture.ltCd}}" style="width:100%; height:200px;margin-top:10px;display:none"></div>
											</td>
										</tr>

										<tr>
											<td><span data-langNum="17">수강인원</span></td>
											<td>{{my_lecture.studentCnt}}명</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="wrapper-xs bg-black m-t-sm">
								<table class="table mini-table m-b-none">
									<tbody>
										<tr>
											<td class="w-sm2"><span data-langNum="18">담당자</span></td>
											<td>{{my_lecture.sliNm}}</td>
										</tr>
										<tr>
											<td><span data-langNum="19">강의기간</span></td>
											<td>{{my_lecture.startDt}}~{{my_lecture.endDt}}</td>
										</tr>
										<tr>
											<td><span data-langNum="20">강의시간</span></td>
											<td>{{my_lecture.lectureTime}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="typeList=='B'" class="widthfix-lg m-auto m-t">
			<!---강의 컨텐츠 start---->
			<div class="col-xs-12 col-sm-4 no-padder" ng-repeat="my_lecture in my_lecture_List_B">
				<div class="wrapper-xs">
					<div class="panel panel-default border m-b-none">
						<div class="panel-heading font-bold rightAR text-left" ui-sref="app.mylecture.lecture">
							{{my_lecture.lectureNm}}</div>
						<div class="panel-body">
							<div class=" b-n">
								<table class="table mini-table m-b-none">
									<tbody>
										<tr>
											<td class="w-sm2"><span data-langNum="13">강의코드</span></td>
											<td>{{my_lecture.ltCd}}</td>
										</tr>
										<tr>
											<td><span data-langNum="14">고객사명</span></td>
											<td>{{my_lecture.compNm}}</td>
										</tr>
										<tr>
											<td><span data-langNum="15">강의일시</span></td>
											<td>{{my_lecture.nextClass}}</td>
										</tr>
										<tr>
											<td><span data-langNum="16">강의장소</span></td>
											<td>{{my_lecture.lecturePlaceNm}} </td>
										</tr>
										<tr>
											<td>
											</td>
											<td>
												{{my_lecture.postNo}} {{my_lecture.addr}} {{my_lecture.dtlAddr}} <br>
												<span class="m-l-xs" ng-click="showMap(my_lecture)"><img width="62"	src="./assets/img/map_ico.jpg"></span>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="col-sm-8" id="map_{{my_lecture.ltCd}}" style="width:100%; height:200px;margin-top:10px;display:none"></div>
											</td>
										</tr>
										<tr>
											<td><span data-langNum="17">수강인원</span></td>
											<td>{{my_lecture.studentCnt}}명</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="wrapper-xs bg-black m-t-sm">
								<table class="table mini-table m-b-none">
									<tbody>
										<tr>
											<td class="w-sm2"><span data-langNum="18">담당자</span></td>
											<td>{{my_lecture.sliNm}}</td>
										</tr>
										<tr>
											<td><span data-langNum="19">강의기간</span></td>
											<td>{{my_lecture.startDt}}~{{my_lecture.endDt}}</td>
										</tr>
										<tr>
											<td><span data-langNum="20">강의시간</span></td>
											<td>{{my_lecture.lectureTime}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--app, app-content body 에 그레이톤 배경 추가--->
<script>
	$(document).ready(function () {
		$('.app-content-body').addClass('bg-gray');
		$('.app').addClass('bg-gray');
		$('.app').addClass('back');
	})
</script>
<script src="assets/js/language.js"></script>
</div>