
<div class="app-content-body" ng-controller="TeacherViewController" ng-init="init()">
	<div class="wrapper-md">
  		<div class="panel panel-default">
    		<div class="panel-heading font-bold">강사료 정산</div>
    		<div class="panel-body">
      			<form class="form-horizontal ng-pristine ng-valid" method="get">
          			<div class="form-group b-n">
          				<label class="col-sm-1 control-label">고객사명</label>
          				<div class="col-sm-2">
            				<select multiple name="account" class="select2" style="width: 100%; min-height: 32px; margin-top:6px;" 
            					ng-model="select_company" ng-change="getLectureListBox()" ng-options="select_company.cpCd as select_company.compNm for select_company in companies">
              					<option value="">전체</option>
            				</select>
          				</div>
          				<label class="col-sm-1 col-sm-offset-1 control-label">강사명</label>
          				<div class="col-sm-2">
            				<select name="account" class="form-control input-sm"
            					ng-model="select_teacher" ng-change="getLectureListBox()" ng-options="select_teacher.tcCd as select_teacher.userName for select_teacher in teachers">
              					<option value="">전체</option>
            				</select>
          				</div>
        			</div>
        			<div class="form-group b-n">
          				<label class="col-sm-1 control-label">기간</label>
          				<div class="col-sm-3 no-padder-left">
            				<div class="col-sm-4 no-padder-right">
            					<input class="form-control input-sm date" type="text" readonly style="background: white;" ng-model="start_date" id="start_date">
            				</div>
            				<label class="control-label col-sm-1 text-center">─</label>
            				<div class="col-sm-4 no-padder-left">
            					<input class="form-control input-sm date" type="text" readonly style="background: white;" ng-model="end_date" id="end_date">
            				</div>
          				</div>
          				<label class="col-sm-1 control-label">정산구분</label>
          				<div class="col-sm-2">
            				<select name="account" class="form-control input-sm" ng-model="select_complete" >
              					<option value="">전체</option>
              					<option value="N">미완료</option>
              					<option value="Y">정산완료</option>
            				</select>
          				</div>
        			</div>
        			<div class="form-group b-n">
          				<label class="col-sm-1 control-label">강의명</label>
          				<div class="col-sm-11 ">
              				<select name="account" class="form-control input-sm" ng-model="select_shLtCd"
              					ng-options="select_shLtCd.ltCd as select_shLtCd.lectureNm for select_shLtCd in lecture_list_box">
              					<option value="">전체</option>
           	  				</select>
          				</div>
        			</div>
        			<div class="form-group b-n">
          				<label class="col-sm-1 control-label"></label>
          				<div class="col-sm-11 ">
              				<input class="form-control input-sm" type="text" placeholder="직접 검색" ng-model="shLectureNm">
          				</div>
        			</div>  
        			<div class="form-group b-n">
          				<label class="col-sm-1 control-label">정렬기준</label>
          				<div class="col-sm-3 no-padder-left">
            				<div class="col-sm-4 no-padder-right radio">
								<label class="i-checks"> 
									<input type="radio" name="select_order" value="t" ng-model="select_order"><i></i> 강사별
								</label> 
            				</div>
            				<div class="col-sm-4 no-padder-left radio">
								<label class="i-checks"> 
									<input type="radio" name="select_order" value="c" ng-model="select_order"><i></i> 업체별
								</label> 
            				</div>
          				</div>
        			</div>
      			</form>
    		</div>
      		<div class="panel-footer">
          		<div class="row">
            		<button type="" class="btn btn-dark pull-right btn-m" ng-click="search()">조회</button>        
          		</div>
      		</div>
  		</div>
    	<div class="panel panel-default m-b-none m-t-xl" ng-show="search_order == 't'">
  			<table class="table table-bordered b-t b-light" id="tblCustomers" ng-repeat="(key, all) in teacher_fee_list">
        		<thead>
        			<tr class="active">            
            			<th rowspan="2" class="w-sm">강사명</th>
            			<th rowspan="2" class="w-sm">업체명 </th>
            			<th rowspan="2" class="w-sm">강의명</th>
            			<th class="w-sm">강의기간</th>
            			<th class="w-sm">수업횟수</th>
            			<th rowspan="2" class="w-sm">강사료단가</th>
            			<th class="w-sm">청구금액</th>
            			<th rowspan="2" class="w-sm">가감액</th>
            			<th rowspan="2" class="w-sm">예상정산금액</th>
            			<th rowspan="2" class="w-sm">최종정산금액</th>
            			<th rowspan="2" class="w-sm">수업일자</th>
            			<th rowspan="2" class="w-sm">정산완료</th>
          			</tr>
        			<tr class="active">            
            			<th class="w-sm">강의시간</th>
            			<th class="w-sm">단위</th>            
            			<th class="w-sm">세금</th>
          			</tr>    
        		</thead>
        		<tbody>
        		<!--강의료정산 row--> 
         			<tr  ng-repeat-start="x in all.name">
			            <td rowspan="{{all.name.length * 2 + 2}}" ng-if="$index == 0"><a class="primary underline" ui-sref="app.teacher.detail({id : x.tcCd})" target="_blank">{{x.teacherNm}}</a></td> 
            			<td rowspan="2">{{x.compNm}}</td>
            			<td rowspan="2"><a class="primary underline" ui-sref="app.subject.lecture_detail({id : x.ltCd})" target="_blank">{{x.lectureNm}}</a></td> 
            			<td>{{x.startDt}}~{{x.endDt}}</td>  
            			<td><a class="primary underline" ui-sref="app.attend.default({ltCd: x.ltCd, cpCd:x.cpCd, tcCd: x.tcCd})" target="_blank">{{x.attCnt}}</a></td>  
            			<td rowspan="2">{{x.teacherFee | number:0}}</td>
            			<td >{{x.unit_money | number:0}}</td>
            			<td rowspan="2"><a class="primary underline" ng-click="openPopup(x);">{{x.tempMoney | number:0}}</a></td>
            			<td rowspan="2">{{(x.unit_money)- (x.unit_money * 0.033) + x.tempMoney | number:0}}</td> 
            
            			<td rowspan="2">
               				<div>
            					{{x.lastTcMoneyYn == 'Y' ? x.lastTcMoney : (x.unit_money)- (x.unit_money * 0.033) + x.tempMoney | number : 0}}
            					<i class="fa fa-comments" ng-if="x.lastTcMoneyYn == 'Y'" style="margin-left:10px" ng-click="showLast2(x)"></i>
            				</div>
           					<button type="submit" class="btn btn-borderPrimary" ng-click="showLast(x)" ng-if="x.completeTcYn != 'Y' && x.lastTcMoneyYn =='Y'">수정</button>
           					<button type="submit" class="btn btn-borderPrimary" ng-click="showLast(x)" ng-if="x.completeTcYn != 'Y' && x.lastTcMoneyYn =='N'">수정</button>
            			</td> 
            			<td rowspan="2"><button type="submit" class="btn btn-borderPrimary" ng-click="show(x);">확인</button></td>
            			<td rowspan="2">
            				<div ng-if="x.completeTcYn == 'Y'">
            					정산완료<br>{{x.completeTcDt}}
            				</div>
            				<div ng-if="x.completeTcYn != 'Y'">
            					<button type="submit" class="btn btn-borderPrimary" ng-click="complete(x);">정산완료</button>
            				</div>
            			</td> 
          			</tr>
          			<tr ng-repeat-end="x in all.name">
            			<td>{{x.scheduleWeek}} {{x.scheduleTime}}</td>  
            			<td>{{x.teacherFeeUnitNm}}</td>
            			<td>{{x.unit_money * 0.033 | number:0}}</td>  
          			</tr>    
        <!--강의료정산 row-->
            
        <!--강의료정산 합산row-->    
         			<tr class="bg-gray">
            			<td rowspan="2"><a class="primary underline"></a></td> 
            			<td rowspan="2"><a class="primary underline"></a></td> 
            			<td rowspan="2"></td>  
            			<td rowspan="2"><a class="primary underline"></a></td>  
            			<td rowspan="2"></td>
            			<td>{{all.total | number:0}}</td><!-- 청구금액 -->
            			<td rowspan="2">{{all.amTotal | number:0}}</td><!-- 가감액 -->
            			<td rowspan="2">{{all.tempTotal | number:0}}</td><!-- 예상정산금액 -->
            			<td rowspan="2">{{all.last_total | number:0}}</td><!-- 최종정산금액 -->
            			<td rowspan="2"></td> 
            			<td rowspan="2">
           					<button type="submit" class="btn btn-borderPrimary" ng-click="completeAll(all);">전체완료</button>
            			</td>
          			</tr>
          			<tr class="bg-gray">
            			<td>{{all.total * 0.033 | number:0}}</td>  
          			</tr>    
        <!--강의료정산 합산row-->
        		</tbody>
      		</table>
    	</div>
    	<div class="panel panel-default m-b-none m-t-xl" ng-show="search_order == 'c'">
  			<table class="table table-bordered b-t b-light" id="tblCustomers" ng-repeat="(key, all) in teacher_fee_list">
        		<thead>
        			<tr class="active">            
            			<th rowspan="2" class="w-sm">업체명</th>
            			<th rowspan="2" class="w-sm">강사명 </th>
            			<th rowspan="2" class="w-sm">강의명</th>
            			<th class="w-sm">강의기간</th>
            			<th class="w-sm">수업횟수</th>
            			<th rowspan="2" class="w-sm">강사료단가</th>
            			<th class="w-sm">청구금액</th>
            			<th rowspan="2" class="w-sm">가감액</th>
            			<th rowspan="2" class="w-sm">예상정산금액</th>
            			<th rowspan="2" class="w-sm">최종정산금액</th>
            			<th rowspan="2" class="w-sm">수업일자</th>
            			<th rowspan="2" class="w-sm">정산완료</th>
          			</tr>
        			<tr class="active">            
            			<th class="w-sm">강의시간</th>
            			<th class="w-sm">단위</th>            
            			<th class="w-sm">세금</th>
          			</tr>    
        		</thead>
        		<tbody>
        		<!--강의료정산 row--> 
         			<tr  ng-repeat-start="x in all.name">
			            <td rowspan="{{all.name.length * 2 + 2}}" ng-if="$index == 0"><a class="primary underline" ui-sref="app.teacher.detail({id : x.tcCd})" target="_blank">{{x.compNm}}</a></td> 
            			<td rowspan="2">{{x.teacherNm}}</td>
            			<td rowspan="2"><a class="primary underline" ui-sref="app.subject.lecture_detail({id : x.ltCd})" target="_blank">{{x.lectureNm}}</a></td> 
            			<td>{{x.startDt}}~{{x.endDt}}</td>  
            			<td><a class="primary underline" ui-sref="app.attend.default({ltCd: x.ltCd, cpCd:x.cpCd, tcCd: x.tcCd})" target="_blank">{{x.attCnt}}</a></td>  
            			<td rowspan="2">{{x.teacherFee | number:0}}</td>
            			<td >{{x.unit_money | number:0}}</td>
            			<td rowspan="2"><a class="primary underline" ng-click="openPopup(x);">{{x.tempMoney | number:0}}</a></td>
            			<td rowspan="2">{{(x.unit_money)- (x.unit_money * 0.033) + x.tempMoney | number:0}}</td> 
            
            			<td rowspan="2">
               				<div>
            					{{x.lastTcMoneyYn == 'Y' ? x.lastTcMoney : (x.unit_money)- (x.unit_money * 0.033) + x.tempMoney | number : 0}}
            					<i class="fa fa-comments" ng-if="x.lastTcMoneyYn == 'Y'" style="margin-left:10px" ng-click="showLast2(x)"></i>
            				</div>
           					<button type="submit" class="btn btn-borderPrimary" ng-click="showLast(x)" ng-if="x.completeTcYn != 'Y' && x.lastTcMoneyYn =='Y'">수정</button>
           					<button type="submit" class="btn btn-borderPrimary" ng-click="showLast(x)" ng-if="x.completeTcYn != 'Y' && x.lastTcMoneyYn =='N'">수정</button>
            			</td> 
            			<td rowspan="2"><button type="submit" class="btn btn-borderPrimary" ng-click="show(x);">확인</button></td>
            			<td rowspan="2">
            				<div ng-if="x.completeTcYn == 'Y'">
            					정산완료<br>{{x.completeTcDt}}
            				</div>
            				<div ng-if="x.completeTcYn != 'Y'">
            					<button type="submit" class="btn btn-borderPrimary" ng-click="complete(x);">정산완료</button>
            				</div>
            			</td> 
          			</tr>
          			<tr ng-repeat-end="x in all.name">
            			<td>{{x.scheduleWeek}} {{x.scheduleTime}}</td>  
            			<td>{{x.teacherFeeUnitNm}}</td>
            			<td>{{x.unit_money * 0.033 | number:0}}</td>  
          			</tr>    
        <!--강의료정산 row-->
            
        <!--강의료정산 합산row-->    
         			<tr class="bg-gray">
            			<td rowspan="2"><a class="primary underline"></a></td> 
            			<td rowspan="2"><a class="primary underline"></a></td> 
            			<td rowspan="2"></td>  
            			<td rowspan="2"><a class="primary underline"></a></td>  
            			<td rowspan="2"></td>
            			<td>{{all.total | number:0}}</td><!-- 청구금액 -->
            			<td rowspan="2">{{all.amTotal | number:0}}</td><!-- 가감액 -->
            			<td rowspan="2">{{all.tempTotal | number:0}}</td><!-- 예상정산금액 -->
            			<td rowspan="2">{{all.last_total | number:0}}</td><!-- 최종정산금액 -->
            			<td rowspan="2"></td> 
            			<td rowspan="2">
           					<button type="submit" class="btn btn-borderPrimary" ng-click="completeAll(all);">전체완료</button>
            			</td>
          			</tr>
          			<tr class="bg-gray">
            			<td>{{all.total * 0.033 | number:0}}</td>  
          			</tr>    
        <!--강의료정산 합산row-->
        		</tbody>
      		</table>
    	</div>
       	<div class="row m-t-lg">                
            <button type="submit" class="btn btn-border pull-left a " ng-click="exportEcel()">엑셀 다운로드&nbsp; <i class="fa fa-file-excel-o"></i></button>        
        </div>
	</div>
</div>
<script type="text/ng-template" id="show.html">
	<div class="popup_wrap" >
		<div class="popup_header">
        	수업일자<span class="pull-right closebtn " data-ng-click="cancel()"><img src="assets/img/close.png" class="img-full" alt="..."></span>
    	</div>
	<div class="popup_body no-padder-top">
		<div class=" text-md m-t-md">
			{{item.scheduleDtAll}}
		</div>
	</div>
	</div>
</script>
<script type="text/ng-template" id="complete.html">
  	<div class="modal-header">
    	<h4 class="text-center" ng-if="items.lastTcMoneyYn == 'N'">최종금액 확정</h4>
		<h4 class="text-center" ng-if="items.lastTcMoneyYn == 'Y'">최종금액 수정</h4>
  	</div>
  	<div class="modal-body">
    	<table class="table">
        	<tr>
				<th>금액</th>
              	<td>
					<input class="form-control input" required ng-model="items.lastMoney" type="text" placeholder="">
				</td>
          	</tr>
        	<tr>
				<th>사유</th>
              	<td><textarea class="form-control"  required ng-model="items.lastRemark" ></textarea></td>
          	</tr>
      	</table>
  	</div>
  	<div class="modal-footer">
    	<span class="btn btn-primary" ng-click="save()">등록</span>
      	<span class="btn btn-default" ng-click="cancel()">취소</span>
  	</div>
</script>
<script type="text/ng-template" id="complete2.html">
  	<div class="modal-header">
    	<h4 class="text-center">수정사유</h4>
  	</div>
  	<div class="modal-body">
    	<table class="table">
        	<tr>
              	<td style="text-align:left; border:none;"><pre>{{items.lastRemark}}</pre></td>
          	</tr>
      	</table>
  	</div>
  	<div class="modal-footer">
      	<span class="btn btn-default" ng-click="cancel()">닫기</span>
  	</div>
</script>
<script type="text/ng-template" id="custom_modal.html">

  <div class="popup_wrap" ng-init="init()">
      <div class="popup_header">
        강사료 지급액 가감<span class="pull-right closebtn " data-ng-click="cancel()"><img src="assets/img/close.png" class="img-full" alt="..."></span>
    </div>
    <div class="popup_body no-padder-top">
        <div>
    <div class="panel-body text-md m-t-md">
      <form class="form-horizontal ng-pristine ng-valid" method="get">
        <div class="form-group b-n">
          	<label class="col-sm-2 control-label"><b>강사명</b></label>
        	<label class="col-sm-2 control-label">{{selected.teacherNm}}</label>
         	<label class="col-sm-2 control-label"><b>강의명</b></label>
			<label class="col-sm-2 control-label">{{selected.lectureNm}}</label>
<!--          <div class="col-sm-4 no-padder-left">
            	<div class="col-sm-5 no-padder">
            		<input class="form-control input-sm date" type="text" ng-model="shStartDt">
            	</div>
            	<label class="control-label col-sm-2 text-center">─</label>
            	<div class="col-sm-5 no-padder">
            		<input class="form-control input-sm date" type="text" ng-model="shEndDt">
            	</div>
          	</div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-dark m-t-xs btn-m" ng-click="submit()">조회</button>  
            </div> -->    
        </div>  
      </form>
    </div>
    <div class="row white text-md m-b-sm m-t-sm">
       <div class="pull-right">총 가감액 : {{total}}원</div>
    </div>
      <div class="table-responsive heightmax">
      <table class="table b-t b-light popup_table center_align m-b-none">
        <thead>
          <tr class="active">
            <th>No</th>
            <th>가감사유</th>
            <th>가산액</th>
            <th>차감액</th>  
            <th>일자</th>
            <th class="w-xxs"></th>  
            <th class="w-xxs"></th>  
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in teacher_fee_tem">
            <td>{{teacher_fee_tem.length - $index}}</td>
            <td><input type="text" value="" ng-model="x.itemCnts"  ng-readonly="x.checked" ng-style="x.checked == true ? {'border' : 'none'} : {}"></td>
            <td><input type="text" value="" ng-model="x.addMoney"  ng-readonly="x.checked" ng-style="x.checked == true ? {'border' : 'none'} : {}"></td>
            <td><input type="text" value="" ng-model="x.minusMoney" ng-readonly="x.checked" ng-style="x.checked == true ? {'border' : 'none'} : {}"></td>
            <td>
				<span  ng-if="x.checked == true">{{x.occurDt}}</span>
				<div class="input-group input-group-sm m-t-xs date"  ng-if="x.checked == false" ng-click="date_picker()">
                     <input type="text" class="form-control" ng-model="x.occurDt" style="background: white;">
                     <span class="input-group-btn">
                         <button type="button"  class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                     </span>
                </div>
			</td>  
            <td>
				<a class="primary underline" ng-if="x.checked == true" ng-click="x.checked = !x.checked">수정</a>
				<a class="primary underline" ng-if="x.checked == false" ng-click="saveItem(x)">저장</a>
			</td> 
            <td>
				<a class="primary underline" ng-if="x.checked == true" ng-click="deleted(x.cbCd)">삭제</a>
				<a class="primary underline" ng-if="x.checked == false" ng-click="x.checked = !x.checked">취소</a>
			</td>   
          </tr>
          <tr>
            <td> </td>
            <td><input class="form-control input-sm" type="text" ng-model="itemCnts"></td>
            <td><input class="form-control input-sm" type="text" ng-model="addMoney"></td>
            <td><input class="form-control input-sm" type="text" ng-model="minusMoney"></td>
            <td>
                <div class="input-group input-group-sm m-t-xs date">
                          <input type="text" class="form-control date"  ng-model="occurDt" id="add_date">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
            </td>  
            <td colspan="2"><a class="primary underline" ng-click="create()">등록</a></td> 
          </tr>    
        </tbody>
      </table>
    </div>        
    </div>  
    </div>  
  </div>
<script>
		$(".date").datepicker({
		format: 'yyyy-mm-dd',
		autoclose: true
	});
	$('#add_date').datepicker('setDate', new Date());
//	setTimeout(function(){ $(".select2").select2();}, 10);
	
	</script>
</script>

<style>
    .modal-dialog{width:800px;}
</style>
<script>
	$(document).ready(function() {
		$(".date").datepicker({
			format: 'yyyy-mm-dd',
			autoclose: true
		});
//		$(".select2").select2();
	})
</script>