
  	<div class="app-content-body" ng-controller="AlarmListController" ng-init="init()">
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      알림게시판
        <button type="submit" class="btn btn-primary pull-right btn-m" ui-sref="app.alarm.write">등록</button>
    </div>
      
    <div class="panel-body">
      <form class="form-horizontal" method="get">
          <div class="form-group b-n">
          <label class="col-sm-1 control-label">업체명</label>
          <div class="col-sm-2 no-padder-left">
            <select name="account" class="form-control input-sm"
				ng-model="noticeInfo.shCpCd"
				ng-options="item.cpCd as item.compNm for item in customerCompanyListBox ">
				<option value="">전체</option>
			</select>
          </div>
          <label class="col-sm-1 col-sm-offset-1 control-label">담당강사</label>
          <div class="col-sm-2 no-padder-left">
            <select name="account" class="form-control input-sm"
				ng-model="noticeInfo.shTcCd"
				ng-options="item.tcCd as item.userName for item in teacherListBox">
				<option value="">전체</option>
			</select>
          </div>
        </div>
          <div class="form-group b-n">
          <label class="col-sm-1 control-label">강의명</label>
          <div class="col-sm-11 no-padder-left">
            <select name="account" class="form-control input-sm"
				ng-model="noticeInfo.shLtCd"
				ng-options="item.ltCd as item.lectureNm for item in lectureListBox ">
				<option value="">전체</option>
			</select>
          </div>
        </div>
      </form>
    </div>
      <div class="panel-footer">
          <div class="row">
            <button type="submit" ng-click="getNoticeInfoCount(); getNoticeInfoList()" class="btn btn-dark pull-right btn-m">조회</button>        
          </div>
      </div>
  </div>
    <div class="panel panel-default">            
    <div class="table-responsive teacher_table">
      <table class="table b-t b-light">
        <thead>
          <tr class="active">
            <th>No</th>
            <th>구분</th>
            <th>제목</th>
            <th>노출</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>조회수</th>
          </tr>
        </thead>
        <tbody ng-repeat="noticeInfo in noticeInfoList">
          <tr>
            <td>{{generateListNo(current_page, total_noticeInfo, $index)}}</td>
            <td>{{noticeInfo.notiTypeNm}}</td>
            <td class="text-left"><a ui-sref="app.alarm.view({id: noticeInfo.ntCd})"><span class="primary">[{{noticeInfo.lectureNm}}_{{noticeInfo.cpCdNm}}]<br/></span>{{noticeInfo.notiTitle}}</a></td>
            <td>{{noticeInfo.showYn}}</td>
            <td>{{noticeInfo.regUserNm}}</td>  
            <td>{{noticeInfo.regDt}}</td>  
            <td>{{noticeInfo.viewCnt}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="row" ng-if="total_noticeInfo > app.page_size">
		<div class=" text-center">
			<ul class="pagination pagination-sm m-t-none m-b-none">
				<li ng-click="previousPageClick()"><a href=""><i class="fa fa-chevron-left"></i></a></li>
				<li ng-repeat="page in getRange(total_pages) track by $index" 
					class="{{current_page == $index + 1 ? 'active' : ''}}"
					ng-click="setCurrentPage($index + 1)"><a href="">{{$index + 1}}</a></li>
				<li ng-click="nextPageClick()"><a href=""><i class="fa fa-chevron-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
	</div>