<div
  class="container w-xxxl w-auto-xs no-padder signin_wrapper m-t-xxl"
  ng-app="MyForm"
>
  <a href class="navbar-brand block m-t"
    ><img src="./assets/img/login_logo.png"
  /></a>
  <div class="m-b-lg">
    <div class="wrapper text-center no-padder">
      <form name="login_form" class="form-validation" ng-controller="LoginController" novalidate >
        <div class="list-group list-group-md m-t-xl">
          <div class="list-group-item">
            <input type="text" placeholder="아이디" class="form-control no-border" name="name" ng-model="username" required />
          </div>
          <div class="list-group-item m-t-sm">
            <input type="password" placeholder="비밀번호" class="form-control no-border" name="password" ng-model="password" required>
          </div>
        </div>
        <button ng-click="login()" class="btn btn-xl btn-primary btn-block m-t-lg" ng-disabled="login_form.$invalid">
          로그인
        </button>
        <div class="text-left m-t-xl m-b small">
          아이디를 분실하였을 경우 OOOO팀 홍길동님에게 문의해주시기 바랍니다.<br />
          내선번호 000-000-0000 /
          <address>
            <a href="mailto:sli@sli.co.kr">e-mail. OOOO@sliedu.com</a>
          </address>
          <br />
          비밀번호를 분실한 경우 등록된 휴대전화로 임시 비밀번호가 발송됩니다.
          <a ui-sref="access.password">비밀번호 찾기</a>
        </div>
      </form>
    </div>
  </div>
</div>