
<div class="app-content-body " ng-controller="TeacherCalculateController" ng-init="init()">
	<div class="tab_wrap twotab widthfix-md m-auto pc-tab pc-padder m-t-xs">
		<ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
			<li class="ng-scope ng-isolate-scope" heading="증명서발급요청" ng-class="{active: active, disabled: disabled}">
				<a class="ng-binding" ui-sref="app.teacher.certificate"><span data-langNum="69">증명서발급요청</span></a>
			</li>
		    <li class="ng-scope ng-isolate-scope active" heading="정산내역" ng-class="{active: active, disabled: disabled}">
		  		<a class="ng-binding" ui-sref="app.teacher.calculate"><span data-langNum="78">정산내역</span></a>
			</li>
		</ul>
			  
		<div class="wrapper-md">
			<div class="text-xs padder-v">
				<p>*<span data-langNum="70">강의나 수업진행 중 문의사항이 있다면 담당자에게 문의하시기 바랍니다.</span><br>
	             ( <span data-langNum="18">담당자</span> : {{current_user.sliNm}} {{current_user.sliMobile}} )<br>
				<br>
				* 정산내역을 통하여 매월 지급내역을 확인할 수 있습니다.
				</p>
			</div>
			<div class="clearfix m-t">
				<div class="pull-left hidden-xs hidden-sm text-sm padder-sm"><b class="text-lg"><span data-langNum="78">정산내역</span></b><br><span data-langNum="79">월별 정산내역을 확인할 수 있습니다.</span></div>
				
				<form class="form-horizontal ng-pristine ng-valid pull-right" method="get">
                  <div class="form-group b-n">                      
                    <div class="col-xs-4 no-padder">
                      <input type="text" class="form-control text-center date" ng-model="stdDt" readonly style="background:#fff;">                    	
                    </div>
                    <div class="col-xs-1 no-padder">
                      <label class="col-xs-12 control-label m-b-n">─</label>
                    </div>
                    <div class="col-xs-4 no-padder">
                    	<input type="text" class="form-control text-center date" ng-model="endDt" readonly style="background:#fff;">                      	
                    </div>
                    <div class="col-xs-3 no-padder-right">
                      <button class="btn btn-primary w-full text-base" type="button" ng-click="search()"><span data-langNum="80">조회</span></button>
                    </div>
                  </div>
                </form>
			</div>
			<!-- 패널 스타일 list -->
			<div class="acc_wrap m-t">
				<div class="panel-group">
					<div class="panel panel-heading clearfix wrapper-xs no-padder-right no-shadow b-b" ng-repeat="calculate in calculate_list">
						<div class="pull-left m-t-xs">
							<div class="primary">{{calculate.completeDt | date:'yyyy-MM'}}</div>
							<div class="dark m-t-xs text-sm">정산일 {{calculate.completeDt}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							 [{{calculate.bankNm}}] {{calculate.bankAccount}}</div>
						</div>
						<div class="pull-right wrapper text-md">{{calculate.lastMoney | number :0}} 원</div>
					</div>
					
					<div class="panel panel-heading clearfix wrapper-xs no-padder-right no-shadow b-b" ng-if="total_cnt == 0">
						<div class="text-center">※ 조회된 목록이 없습니다.</div>
					</div>							
				</div>
			</div>
		<!--패널 스타일 list end -->   
		</div>
	<!--정산내역 wrap end-->
		<div ng-if="app.page_size < total_cnt">
			<button class="btn btn-borderDefault w-full widthfix-xs m-auto pc-block btnMoreList" ng-click="nextPageClick()" data-langNum="9">더보기</button>
		</div>
	</div>
</div>
  
<script class="ng-scope" type="text/javascript">
	
	$(document).ready(function() {
		$('.app').addClass('back');
		
		$(".date").datepicker({
			format: 'yyyy-mm',
			autoclose: true,
			orientation: 'auto bottom',
			minViewMode : 'months',
			viewMode : 'months',
			defalutDate : new Date()
		});
		
		$(".date").datepicker('setDate', new Date());
	});
</script>
<script src="assets/js/language.js"></script>
