<div class="container w-xxxl w-auto-xs no-padder signin_wrapper m-t-xxl forgot_wrapper">
  <div class="navbar-brand block m-t no-padder">
        <h2>임시 비밀번호 발급</h2>
        <p class="m-t-md">등록된 회원정보를 정확하게 입력해주세요.<br>등록된 이메일로 번호로 임시비밀번호가 발송됩니다. 
</p>
    </div>
  <div class="m-b-lg" ng-controller="passwordController">
    <div class="wrapper text-center no-padder">          
    <form name="password_form" class="form-validation">
      <div class="list-group list-group-md m-t-xl">
        <div class="list-group-item">
          <input type="text" placeholder="아이디" class="form-control no-border" name="username" ng-model="userId" required>
        </div>
        <div class="list-group-item m-t-sm">
          <input type="text" placeholder="이메일주소" class="form-control no-border" name="email" ng-model="userEmail" ng-pattern="email_pattern" required>
        </div>
      </div>
      <button type="submit" class="btn btn-xl btn-primary btn-block m-t-lg" ng-click="submitPassword()">임시비밀번호 발송</button>
      <div class="text-left m-t-xl m-b small">
          등록된 정보가 확인되지 않는 경우 OOOO팀 홍길동님에게 문의해주시기 바랍니다.<br> 
내선번호 000-000-0000  / <address> <a href="mailto:sli@sli.co.kr">e-mail. OOOO@sliedu.com</a></address><br>

          </div>
    </form>
  </div>  
</div>
</div>
<style>
    body{background:#fff;}
</style>
<script type="text/javascript">
    $('.alphaonly').bind('keyup blur',function(){ 
        var node = $(this);
        node.val(node.val().replace(/[^a-zA-Z0-9]/g,'') ); }
    );
</script>