<div class="container w-auto-xs signin_wrapper forgot_wrapper w-xxxl" ng-controller="PasswordController">
    <div class="wrapper-xs">
    <a href class="row m-t-xl w-sm m-l-sm block wrapper-sm"><img class="w-full text-left pull-left" src="./assets/img/login_logo.png"></a>
  <div class="block m-t-xxl text-left w-full wrapper-sm">
        <h2>임시 비밀번호 발급</h2>
        <p class="m-t-md text-sm ltr">등록된 회원정보를 정확하게 입력해주세요.<br>등록된 휴대폰 번호로 임시비밀번호가 발송됩니다. 
</p>
    </div>
  <div class="m-b-lg m-t-sm">
    <div class="wrapper text-center no-padder">          
    <form name="form" class="form-validation">
      <div class="list-group list-group-md m-t-xs">
        <div class="list-group-item linebox">
          <input type="text" placeholder="아이디" class="form-control no-border text-left no-padder-left" ng-model="userId" />
        </div>
        <div class="list-group-item m-t-sm linebox">
           <input type="text" placeholder="이름" class="form-control no-border text-left no-padder-left" ng-model="userName" />
        </div>
          <div class="list-group-item m-t-sm linebox">
          <input type="text" placeholder="휴대폰번호" class="form-control no-border text-left no-padder-left" ng-model="userPhone" ng-change="phoneCheck()" maxlength="11" />
        </div>
      </div>
      <button type="submit" class="btn btn-xl btn-primary btn-block m-t-lg" ng-click="sendSMS()">임시비밀번호 발송</button>
      <div class="text-left m-t-xl m-b small ">
          등록된 정보가 확인되지 않는 경우 관리자에게 문의바랍니다.<br> 
전화번호 000-000-0000  / <address> <a href="mailto:sli@sli.co.kr" class="primary underline">e-mail. OOOO@sliedu.com</a></address><br>

          </div>
    </form>
  </div>  
</div>
</div>
</div>