
<!-- content -->
<div class="app-content-body" ng-controller="DataWriteController" ng-init="init()">
	<div class="wrapper-md">
		<div class="panel panel-default panel-devide">
			<div class="panel-heading font-bold">자료실 수정</div>
			<div class="panel-body">
				<form class="form-horizontal" method="get">
					<div class="form-group">
						<div class="col-bg col-sm-1">
							<label class=" control-label"><span class="dot">*</span> 고객사명</label>
						</div>
						<div class="col-sm-3">
							<select name="account" class="form-control input-sm"
								ng-model="dataInfo.cpCd"
								ng-options="item.cpCd as item.compNm for item in customer_companies"
								ng-change="getLectureListBox()">
								<option value="">전체</option>
							</select>
						</div>
						<div class="col-bg col-sm-1">
							<label class=" control-label"><span class="dot">*</span> 강의명</label>
						</div>
						<div class="col-sm-3">
							<select name="account" class="form-control input-sm"
								ng-model="dataInfo.ltCd"
								ng-options="item.ltCd as item.lectureNm for item in lectures"
								ng-change="changeCompany()">
								<option value="">-- 고객사명을 선택해주세요. --</option>
							</select>
						</div>
					</div>					
					<div class="form-group">
						<div class="col-bg col-sm-1">
							<label class=" control-label"><span class="dot">*</span> 제목</label>
						</div>
						<div class="col-sm-11">
							<input class="form-control input-sm" ng-model="dataInfo.dataTitle" type="text" maxlength="100">
						</div>
					</div>
					<div class="form-group">
						<div class="col-bg col-sm-1">
							<label class=" control-label">내용</label>
						</div>
						<div class="col-sm-11">
							<textarea class="h-full b m-t-none" ng-model="dataInfo.dataCnts"></textarea>
						</div>
					</div>
										
					<div class="form-group b-n">
						<div class="col-bg col-sm-1 heightfix-md">
							<label class=" control-label">첨부파일</label>
						</div>
						
						<div class="col-sm-11">
						  <label class="btn btn-sm btn-info m-t-xs" ng-if="!upload.file1 && (dataList.length < 1 || dataList[0].fileName == '') ">
			                 	파일 첨부1
			                <input type="file" select-ng-files ng-model="upload.file1"
			                  style="opacity: 0; position: absolute; left: 0; width: 100px;height: 32px; top: 5px" ng-change="fileUpload(0);"/>
			              </label>
			              <label class="uploader" ng-if="upload.file1" ng-repeat="file in upload.file1">
			                {{ file.name }}
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="upload.file1 = null;">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			              <label class="uploader" ng-if="dataList.length > 0 && dataList[0].fileName != ''">
			              	<a href="{{dataList[0].pathUrl}}/{{dataList[0].fileName}}" target="_blank">{{ dataList[0].originalName }}</a>
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="clearDownloadFile(0);">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			            </div>
			            
			            <div class="col-sm-11">
						  <label class="btn btn-sm btn-info m-t-xs" ng-if="!upload.file2 && (dataList.length < 2 || dataList[1].fileName == '')">
			                 	파일 첨부2
			                <input type="file" select-ng-files ng-model="upload.file2"
			                  style="opacity: 0; position: absolute; left: 0; width: 100px;height: 32px; top: 5px" ng-change="fileUpload(1);"/>
			              </label>
			              <label class="uploader" ng-if="upload.file2" ng-repeat="file in upload.file2">
			                {{ file.name }}
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="upload.file2 = null;">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			              <label class="uploader" ng-if="dataList.length > 1 && dataList[1].fileName != ''">
			              	<a href="{{dataList[1].pathUrl}}/{{dataList[1].fileName}}" target="_blank">{{ dataList[1].originalName }}</a>
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="clearDownloadFile(1);">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			            </div>
		            	
			            <div class="col-sm-11">
						  <label class="btn btn-sm btn-info m-t-xs" ng-if="!upload.file3 && (dataList.length < 3 || dataList[2].fileName == '')">
			                 	파일 첨부3
			                <input type="file" select-ng-files ng-model="upload.file3"
			                  style="opacity: 0; position: absolute; left: 0; width: 100px;height: 32px; top: 5px" ng-change="fileUpload(2);"/>
			              </label>
			              <label class="uploader" ng-if="upload.file3" ng-repeat="file in upload.file3">
			                {{ file.name }}
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="upload.file3 = null;">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			              <label class="uploader" ng-if="dataList.length > 2 && dataList[2].fileName != ''">
			              	<a href="{{dataList[2].pathUrl}}/{{dataList[2].fileName}}" target="_blank">{{ dataList[2].originalName }}</a>
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="clearDownloadFile(2);">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			            </div>
		            
		            	<div class="col-sm-11">
						  <label class="btn btn-sm btn-info m-t-xs" ng-if="!upload.file4 && (dataList.length < 4 || dataList[3].fileName == '')">
			                 	파일 첨부4
			                <input type="file" select-ng-files ng-model="upload.file4"
			                  style="opacity: 0; position: absolute; left: 0; width: 100px;height: 32px; top: 5px" ng-change="fileUpload(3);"/>
			              </label>
			              <label class="uploader" ng-if="upload.file4" ng-repeat="file in upload.file4">
			                {{ file.name }}
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="upload.file4 = null;">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			              <label class="uploader" ng-if="dataList.length > 3 && dataList[3].fileName != ''">
			              	<a href="{{dataList[3].pathUrl}}/{{dataList[3].fileName}}" target="_blank">{{ dataList[3].originalName }}</a>
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="clearDownloadFile(3);">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			            </div>
			            
			            <div class="col-sm-11">
						  <label class="btn btn-sm btn-info m-t-xs" ng-if="!upload.file5 && (dataList.length < 5 || dataList[4].fileName == '')">
			                 	파일 첨부5
			                <input type="file" select-ng-files ng-model="upload.file5"
			                  style="opacity: 0; position: absolute; left: 0; width: 100px;height: 32px; top: 5px" ng-change="fileUpload(4);"/>
			              </label>
			              <label class="uploader" ng-if="upload.file5" ng-repeat="file in upload.file5">
			                {{ file.name }}
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="upload.file5 = null;">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			              <label class="uploader" ng-if="dataList.length > 4 && dataList[4].fileName != ''">
			              	<a href="{{dataList[4].pathUrl}}/{{dataList[4].fileName}}" target="_blank">{{ dataList[4].originalName }}</a>
			                <button type="button" id="file" class="btn btn-xs btn-default" ng-click="clearDownloadFile(4);">
			                  <i class="fa fa-times primary"></i>
			                </button>
			              </label>
			            </div>
			        </div>
				</form>
			</div>
		</div>
		<div class="text-center m-t-lg">
			<button ng-click="cancelUpdating()" class="btn btn-dark btn-w">취소</button>
			&nbsp;
			<button ng-click="updateDataInfo()"class="btn btn-primary btn-w">수정완료</button>						
		</div>
	</div>

</div>
<!-- /content -->